{{> header}}
<main class="login">
    <section class="login-wrapper" style="height:unset;">
        <h1>{{locals.titletxt.default}}</h1>
        <p>Choose strong password for accessing your Stakers.space account</p>
        <div>
            {{#if failureCallback}}
                <p class="login-error">{{{failureCallback}}}</p>
            {{/if}}
            <form method="post" action="{{locals.actionUrl}}"  data-login="{{locals.loginUrl}}" data-forgotpsw="{{locals.newPswUrl}}">
                <div id="email" class="login-item">
                    <input type="text" id="email" name="username" required="required" readonly value="{{locals.email}}">
                    <div class="cover"></div>
                </div>
                <div id="password" class="login-item">
                    <input type="password" id="pass" required="required" name="password">
                    <label for="pass">Password (8 characters)</label>
                    <div class="cover"></div>
                </div>
                <div id="password2" class="login-item">
                    <input type="password" id="pass2" required="required" name="password2">
                    <label for="pass">Repeat the password</label>
                    <div class="cover"></div>
                </div>
                <div id="token" class="login-item hide">
                    <input type="hidden" id="token" name="token" required="required" readonly value="{{locals.token}}">
                </div>
                <p id="verify-check" data-match="{{locals.notValidMsg}}" data-length="{{locals.tooShort}}" style="height:25px; color:red;margin-top:0"></p>
                <div class="login-action" id="login-action">
                    <input type="submit" id="submit" class="submit btn btn-black btn-rounded" value="{{locals.btntxt.default}}">
                </div>
            </form>
        </div>
    </section>
</main>
<script type="text/javascript">
    document.getElementById("pass").addEventListener("change", makeCheck);
    document.getElementById("pass2").addEventListener("change", makeCheck);
    var timer = false;

    function makeCheck(){
        var elm = document.getElementById("verify-check");
        var pass1 = document.getElementById("pass").value;
        if(pass1.length < 8){
            elm.innerHTML = elm.dataset.length;
        } else if(pass1 !== document.getElementById("pass2").value){
            elm.innerHTML = elm.dataset.match;
        } else {
            elm.innerHTML = '';
        }
        if(!timer) activateTimer();
    }
    function activateTimer(){
        timer = true;
        setInterval(makeCheck, 500);
    }
</script>
{{> footer}}