<h3>Create a system user and data directory for Erigon service</h3>
<ul class="list-disc my-4 pl-6">
    <li><h4>Create a user</h4>
        <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}erigon" class="interactive-element execution_sn" data-class="execution_sn" data-client="erigon">
        <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark></code></pre>
    </li>
    <li><h4>Create a folder for Erigon data on {{chain}} network</h4>
        <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/erigon" class="interactive-element execution-dp" data-class="execution-dp" data-client="erigon">
        <pre><code>sudo mkdir -p <mark class="execution-dp">/var/lib{{slashChain}}/erigon</mark></code></pre>
    </li>
    <li>
        <h4>Set access permission and ownership for the Erigon data folder</h4>
        <pre><code>sudo chown -R <mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark>:<mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark> <mark class="execution-dp">/var/lib{{slashChain}}/erigon</mark></code></pre>
    </li>
</ul>
<h3 class="mt-1">Configurate & Run Erigon Service</h3>
<ul class="list-disc my-4 pl-6">
    <li>
        {{> clients/config/execution-ports }}
    </li>
    <li>
       <h4 class="font-semibold mb-2">Enable ports communication</h4>
        <div class="bg-gray-200 p-6 rounded-xl shadow-md">
          {{> clients/config/execution-ports-enable }}
        </div>
    </li>
    <li><h4>Create configuration file for Erigon service</h4>
        <ol class="list-decimal space-y-2 pl-6">
            <li>Open configuration file
                <pre><code>sudo nano /etc/systemd/system/<mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark>.service</code></pre>
            </li>
            <li>Copy the configuration below into the file
{{#unless chain}}
          <div class="tabselector">
						<nav class="egrid egrid-2">
							<button class="tab selected" data-tabpanel="1">Ethereum</button>
							<button class="tab" data-tabpanel="2">Gnosis</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-erigon }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-erigon }}
						</div>
					</div>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-erigon }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-erigon }}
{{/ifEqual}}
                <p>NOTE: If you are going to run StakeWise vault, you should set <code>--prune=receipts --prune.to=18470089</code> according to <a href="https://docs.stakewise.io/for-operators/operator-service" target="_blank" rel="nofollow noopener noreferrer">StakeWise operator service guide</a>.</p>
            </li>
            <li>Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config file.</li>
        </ol>
    </li>
    <li><h4>Reload daemon</h4>
        <pre><code>sudo systemctl daemon-reload</code></pre>
    </li>
    <li><h4>Start the service</h4>
<pre><code>sudo systemctl start <mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark></code></pre>
    </li>
    <li><h4>Check the service</h4>
        <pre><code>systemctl status <mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark></code></pre>
        <pre><code>journalctl -fu <mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark></code></pre>
    </li>
    <li><h4>Start the service on system startup</h4>
    <div class="tabselector bg-gray-200 p-6 rounded-xl shadow-md">
        <nav>
            <button class="tab selected" data-tabpanel="1">Standard configuration</button>
            <button class="tab" data-tabpanel="2">StakersSpace configuration</button>
        </nav>
        <div class="tabpanel selected">
            <div class="tabselector bg-gray-300 p-6 rounded-xl shadow-md">
                <nav>
                    <button class="tab selected" data-tabpanel="1">Standard option</button>
                    <button class="tab" data-tabpanel="2">Delayed start util</button>
                </nav>
                <div class="tabpanel selected">
                    <pre><code>sudo systemctl enable <mark class="execution_sn" data-client="erigon">{{servicePrefix}}erigon</mark></code></pre>
                </div>
                <div class="tabpanel">
                    {{> clients/config/delayed-start MarkClass="execution_sn" ClientName="erigon" ServiceName="erigon" }}
                </div>
              </div>
            </div>
            <div class="tabpanel">
              {{> clients/config/staking-manager MarkClass="execution_sn" servicesCategory="execution" ClientName="erigon" ServiceName="erigon" }}
            </div>
      </div>
    </li>
</ul>
<script>
  function OnErigonSelected(){
    console.log("Set Erigon ports");
  }
</script>