<ol class="list-decimal space-y-2 pl-6">
   <li>
      <{{sectionHeader}} class="text-md">Configuring lodestarbeacon service user and data directory</{{sectionHeader}}>
      <ul class="list-disc my-4 pl-6">
        <li><span class="block font-bold">Create a service user</span>
          <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}lodestarbeacon" class="interactive-element consensus_sn" data-class="consensus_sn" data-client="lodestar">
          <pre><code>$ sudo useradd --system --no-create-home --shell /bin/false <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark></code></pre>
        </li>
        <li><span class="block font-bold mb-2">Enable <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark> user access NodeJs</span>
          <label>User with NodeJs</label>: <input type="text" value="nodejsusr" class="interactive-element nodejsUser" data-class="nodejsUser">
          <pre><code>sudo usermod -aG <mark class="nodejsUser">nodejsusr</mark> <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark></code></pre>
        </li>
        <li>
          <span class="block font-bold mb-2">Create a directory for Lodestar Beacon data</span>
          <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/lodestar/beacon" class="interactive-element consensus-dp w-64" data-class="consensus-dp" data-client="lodestar">
          <pre><code>sudo mkdir -p <mark class="consensus-dp">/var/lib{{slashChain}}/lodestar/beacon</mark></code></pre>
        </li>
        <li>
          <span class="block font-bold">Set directory ownership</span>
          <pre><code>sudo chown -R <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark>:<mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark> <mark class="consensus-dp">/var/lib{{slashChain}}/lodestar/beacon</mark></code></pre>
        </li>
      </ul>
    </li>
    {{#if PortSelection}}
    <li class="bg-gray-100 p-4">
 {{> clients/config/consensusclient-portselection }}
      </li>
    {{/if}}
    <li><{{sectionHeader}}>Create configuration file for the Lodestar beacon service</{{sectionHeader}}>
      <ul class="list-disc my-4 pl-10">
        <li><span class="block font-bold">Open the configuration file</span>
          <pre><code>sudo nano /etc/systemd/system/<mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark>.service</code></pre>
        </li>
        <li><span class="block font-bold">Copy following configuration to the file</span>
            <p><label>Installed NodeJs version on the server</label>: <input data-type="text" value="{{consensusClients.lodestar.nodejsVer}}" class="interactive-element nodejsVer" data-class="nodejsVer">
            <br><i>This can be get with command <code>$ node -v</code></i></p>
{{#unless chain}}
          <div class="tabselector">
						<nav class="egrid egrid-2">
							<button class="tab selected" data-tabpanel="1">Ethereum</button>
							<button class="tab" data-tabpanel="2">Gnosis</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-lodestarbeacon }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-lodestarbeacon }}
						</div>
					</div>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-lodestarbeacon }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-lodestarbeacon }}
{{/ifEqual}}
        </li>
        <li>Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config file.</li>
      </ul>
    </li>
        <li><span class="block font-bold">Reload daemon</span>
          <pre><code>sudo systemctl daemon-reload</code></pre>
        </li>
        <li><span class="block font-bold">Run the service</span>
          <pre><code>sudo systemctl start <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark></code></pre>
        </li>
        <li>
          <span class="block font-bold">Monitor the running lodestar Beacon service</span>
<pre><code>systemctl status <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark></code></pre>
<pre><code>journalctl -fu <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark></code></pre>
        </li>
        <li><span class="block font-bold">Enable auto start on server statup</span>
          <div class="tabselector bg-gray-200 p-10 pt-5 rounded-xl shadow-md">
            <nav>
              <button class="tab selected" data-tabpanel="1">Standard configuration</button>
              <button class="tab" data-tabpanel="2">StakersSpace configuration</button>
            </nav>
            <div class="tabpanel selected">
              <div class="tabselector bg-gray-300 p-10 pt-5 rounded-xl shadow-md">
                <nav class="egrid egrid-2">
                  <button class="tab selected" data-tabpanel="1">Standard option</button>
                  <button class="tab" data-tabpanel="2">Delayed start util</button>
                </nav>
                <div class="tabpanel selected">
                  <pre><code>sudo systemctl enable <mark class="consensus_sn">{{servicePrefix}}lodestarbeacon</mark></code></pre>
                </div>
                <div class="tabpanel">
                    {{> clients/config/delayed-start MarkClass="consensus_sn" ClientName="lodestar" ServiceName="lodestarbeacon" }}
                </div>
              </div>
            </div>
            <div class="tabpanel">
              {{> clients/config/staking-manager MarkClass="consensus_sn" servicesCategory="beacon" ClientName="lodestar" ServiceName="lodestarbeacon" }}
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ol>