
<h3 class="mt-60">Create a system user and data directory for Nethermind service</h3>
<ul>
  <li>
    <h4>Create a user</h4>
    <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}nethermind" class="interactive-element execution_sn" data-class="execution_sn" data-client="nethermind">
    <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
  </li>
  <li>
    <h4>Create a folder for Nethermind data{{#if chain}} on {{chainName}} chain{{/if}}</h4>
    <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/nethermind" class="interactive-element execution-dp" data-class="execution-dp" data-client="nethermind">
    <pre><code>sudo mkdir -p <mark class="execution-dp">/var/lib{{slashChain}}/nethermind</mark></code></pre>
  </li>
  <li>
    <h4>Set access permission and ownership for the Nethermind data folder</h4>
    <pre><code>sudo chown -R <mark class="execution_sn">{{servicePrefix}}nethermind</mark>:<mark class="execution_sn">{{servicePrefix}}nethermind</mark> <mark class="execution-dp">/var/lib{{slashChain}}/nethermind</mark></code></pre>
  </li>
</ul>
<h3 class="mt-60">Configurate & Run Nethermind service</h3>
<ul>
  <li>
    {{> clients/config/execution-ports }}
    <p>If needed, check <a href="https://docs.nethermind.io/interacting/json-rpc-server/" target="_blank"
        rel="nofollow noopener noreferrer">JSON RPC server</a> and <a
        href="https://docs.nethermind.io/fundamentals/configuration/" target="_blank"
        rel="nofollow noopener noreferrer">fundamentals</a> in <a href="https://docs.nethermind.io/" target="_blank"
        rel="nofollow noopener noreferrer">Nethermind documentation</a>.</p>
  </li>
  <li>
    <h4>Enable port for P2P communication (execution client)</h4>
    <p>To allow execution client synchronization, there's need to enable P2P traffic to TCP (allows the node to connect
      to peers) and UDP (allows node discovery) port <code>30303</code>. It may be done with following UFW setup:</p>
    <pre><code>$ sudo ufw allow <mark class="execution-p2p">30303</mark></code></pre>
  </li>
  <li>
    <h4>Create configuration file for Nethermind service</h4>
    <ol>
      <li>
        <p>Open Nethermind configuration file</p>
        <pre><code>sudo nano /etc/systemd/system/<mark class="execution_sn">{{servicePrefix}}nethermind</mark>.service</code></pre>
      </li>
      <li>
        <p>Copy the configuration below into the file. If needed, check <a
            href="https://docs.nethermind.io/fundamentals/configuration/#command-line-options" target="_blank"
            rel="nofollow noopener noreferrer">flags documentation</a>.</p>
{{#unless chain}}
          <div class="tabselector">
						<nav class="egrid egrid-2">
							<button class="tab selected" data-tabpanel="1">Ethereum</button>
							<button class="tab" data-tabpanel="2">Gnosis</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-nethermind }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-nethermind }}
						</div>
					</div>
          <i>*Note: Update <code>JsonRpc.JwtSecretFile</code>, if you use different</i>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-nethermind }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-nethermind }}
{{/ifEqual}}
      </li>
      <li>
        Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config
        file.
      </li>
    </ol>
  </li>
  <li>
    <h4>Start the Nethermind service</h4>
    <pre><code>sudo systemctl daemon-reload
sudo systemctl start <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
  </li>
  <li>
    <h4>Check the service</h4>
    <pre><code>systemctl status <mark class="execution_sn">{{servicePrefix}}nethermind</mark>
journalctl -fu <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
    <p>If you see message "Waiting for Forkchoice message from Consensus Layer to set fresh pivot block", you can move
      on a Consensis Client setup.</p>
  </li>
  <li>
    <h4>Start the service automatically on system startup</h4>
    <div class="tabselector">
      <nav class="egrid egrid-2">
        <button class="tab selected" data-tabpanel="1">Standard configuration</button>
        <button class="tab" data-tabpanel="2">StakersSpace configuration</button>
      </nav>
      <div class="tabpanel selected">
              <div class="tabselector">
                <nav class="egrid egrid-2">
                  <button class="tab selected" data-tabpanel="1">Standard option</button>
                  <button class="tab" data-tabpanel="2">Delayed start util</button>
                </nav>
                <div class="tabpanel selected">
                  <pre><code>sudo systemctl enable <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
                </div>
                <div class="tabpanel">
                    <aside>NOTE: This option requires installed <a href="https://github.com/Stakers-space/staking-scripts/tree/main/utils/start_with_delay" target="_blank" rel="nofollow noopener">Start with Delay util</a>.</aside>
                    <ul>
                        <li>Open Delayed Start shell
                            <pre><code>sudo nano /usr/local/bin/delayed-start.sh</code></pre>
                            <p>Configurate service start inside it</p>
                            <pre><code>systemctl start <mark class="execution_sn">{{servicePrefix}}nethermind</mark></pre>
                        </li>
                        <li>Be sure, <code>delayed-start.service</code> service controlling <code>delayed-start.sh</code> is enabled for auto start with system startup
                            <pre><code>sudo systemctl enable delayed-start.service</code></pre>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="tabpanel">
              <aside>NOTE: This option requires following installed utils:
                <ul>
                  <li><a href="https://github.com/Stakers-space/staking-scripts/tree/main/utils/start_with_delay" target="_blank">Start with Delay util with delayed-start.service</a>.</li>
                  <li><a href="https://github.com/Stakers-space/staking-scripts/tree/main/manager" target="_blank">Staking Manager</a> util.</li>
                </ul>
                <p>A guide to install each util is attached on the Github.</p>
              </aside>
              <ol>
                <li><h4>Configurate Staking Manager util</h4>
                  <ul>
                    <li>Open the configuration file
                      <pre><code>sudo nano /usr/local/etc/staking/config/clients.conf</code></pre>
                      <p>If the file is empty, generate it with command <code>sudo /usr/local/bin/staking.sh init</code></p>
                    </li>
                    <li>Set link to proper services. It should be as follow:
                      <pre><code>executionClients="<mark class="execution_sn">{{servicePrefix}}nethermind</mark>"</code></pre>
                      <pre><code>executionServices="<mark class="execution_sn">{{servicePrefix}}nethermind</mark>.service"</code></pre>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>Activate service to start automatically on OS startup</h4>
                  <ul>
                    <li>Open Start with delay util
                        <pre><code>sudo nano /usr/local/bin/delayed-start.sh</code></pre>
                    </li>
                    <li>Place or uncomment a command to start the Beacon client(s)
                        <pre><code>/usr/local/bin/staking.sh start execution</code></pre>
                    </li>
                    <li>Verify, that a service `delayed-start.service` exists and is automatically launched on system start.
                      <pre><code>sudo systemctl enable delayed-start.service</code></pre>
                    </li>
                  </ul>
                </li>      
              </ol>
            </div>
      </div>
  </li>
</ul>
<script>
  function OnNethermindSelected(){
    console.log("Set nethermind ports");
  }
</script>