
<h3 class="mt-1">Create a system user and data directory for Nethermind service</h3>
<ul class="list-disc mt-4 mb-4">
  <li>
    <h4>Create a user</h4>
    <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}nethermind" class="interactive-element execution_sn" data-class="execution_sn" data-client="nethermind">
    <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
  </li>
  <li>
    <h4>Create a folder for Nethermind data{{#if chain}} on {{chainName}} chain{{/if}}</h4>
    <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/nethermind" class="interactive-element execution-dp" data-class="execution-dp" data-client="nethermind">
    <pre><code>sudo mkdir -p <mark class="execution-dp">/var/lib{{slashChain}}/nethermind</mark></code></pre>
  </li>
  <li>
    <h4>Set access permission and ownership for the Nethermind data folder</h4>
    <pre><code>sudo chown -R <mark class="execution_sn">{{servicePrefix}}nethermind</mark>:<mark class="execution_sn">{{servicePrefix}}nethermind</mark> <mark class="execution-dp">/var/lib{{slashChain}}/nethermind</mark></code></pre>
  </li>
</ul>
<h3 class="mt-6 text-xl font-semibold mb-4">Configurate & Run Nethermind service</h3>
<ul class="list-disc mt-4 mb-4 space-y-3">
  <li>
    {{> clients/config/execution-ports }}
    <p>If needed, check <a href="https://docs.nethermind.io/interacting/json-rpc-server/" target="_blank"
        rel="nofollow noopener noreferrer">JSON RPC server</a> and <a
        href="https://docs.nethermind.io/fundamentals/configuration/" target="_blank"
        rel="nofollow noopener noreferrer">fundamentals</a> in <a href="https://docs.nethermind.io/" target="_blank"
        rel="nofollow noopener noreferrer">Nethermind documentation</a>.</p>
  </li>
  <li>
    <h4 class="font-semibold mb-2">Enable ports communication</h4>
    <div class="bg-gray-200 p-6 rounded-xl shadow-md">
      {{> clients/config/execution-ports-enable }}
    </div>
    
  </li>
  <li>
    <h4>Create configuration file for Nethermind service</h4>
    <ol class="list-decimal space-y-2 pl-6">
      <li>
        <h4>Open Nethermind configuration file</h4>
        <pre><code>sudo nano /etc/systemd/system/<mark class="execution_sn">{{servicePrefix}}nethermind</mark>.service</code></pre>
      </li>
      <li>
        <h4>Copy the configuration below into the file.</h4> <p>If needed, check <a
            href="https://docs.nethermind.io/fundamentals/configuration/#command-line-options" target="_blank"
            rel="nofollow noopener noreferrer">flags documentation</a>.</p>
{{#unless chain}}
          <div class="tabselector mb-1">
						<nav class="flex gap-4">
							<button class="tab selected text-xl p-2" data-tabpanel="1"><strong>Ethereum</strong></button>
							<button class="tab text-xl p-2" data-tabpanel="2"><strong>Gnosis</strong></button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-nethermind }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-nethermind }}
						</div>
					</div>
          <i>*Note: Update <code>JsonRpc.JwtSecretFile</code>, if you use different</i>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-nethermind }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-nethermind }}
{{/ifEqual}}
      </li>
      <li>
        Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config
        file.
      </li>
    </ol>
  </li>
  <li>
    <h4>Start the Nethermind service</h4>
    <pre><code>sudo systemctl daemon-reload
sudo systemctl start <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
  </li>
  <li>
    <h4>Check the service</h4>
    <pre><code>systemctl status <mark class="execution_sn">{{servicePrefix}}nethermind</mark>
journalctl -fu <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
    <p>If you see message "Waiting for Forkchoice message from Consensus Layer to set fresh pivot block", you can move
      on a Consensis Client setup.</p>
  </li>
  <li>
    <h4>Start the service automatically on system startup</h4>
    <div class="tabselector bg-gray-200 p-6 rounded-xl shadow-md">
      <nav>
        <button class="tab selected" data-tabpanel="1">Standard configuration</button>
        <button class="tab" data-tabpanel="2">StakersSpace configuration</button>
      </nav>
      <div class="tabpanel selected">
        <div class="tabselector">
                <nav class="flex gap-4">
                  <button class="tab selected" data-tabpanel="1">Standard option</button>
                  <button class="tab" data-tabpanel="2">Delayed start util</button>
                </nav>
                <div class="tabpanel selected">
                  <pre><code>sudo systemctl enable <mark class="execution_sn">{{servicePrefix}}nethermind</mark></code></pre>
                </div>
                <div class="tabpanel">
                  {{> clients/config/delayed-start MarkClass="execution_sn" ClientName="nethermind" }}
                </div>
              </div>
            </div>
            <div class="tabpanel">
              {{> clients/config/staking-manager MarkClass="execution_sn" ClientName="nethermind" }}
            </div>
      </div>
  </li>
</ul>
<script>
  function OnNethermindSelected(){
    console.log("Set nethermind ports");
  }
</script>