<aside><mark>Guide under construction, not tested yet. Do not use it for production.</mark></aside>
{{> guides/instanceSelection client="nimbus" }}
{{#if AddValidator}}
<ol class="mt-30">
    <li>
        <p class="mt-20"><strong>Do you want to create a new validation instance or extend exisiting instance for more validators?</strong></p>
        <div class="tabselector">
            <nav class="egrid egrid-2">
                <button class="tab selected" data-tabpanel="1">Creating new</button>
                <button class="tab" data-tabpanel="2">Extend existing</button>
            </nav>
            <div class="tabpanel selected">
                <ul>
                    <li><h4>Create a directory for validator instance data</h4>
                        <pre><code>sudo mkdir -p <mark class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></mark></code></pre>
                    </li>
                    <li>
                        <h4>Load keystores to <code class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></code></h4>
                        <label>Directory with Deposit Data keystores</label>: <input type="text" value="$HOME/keystores/ddk_i1" class="interactive-element ddkeys-path" data-class="ddkeys-path">
                        <pre><code>sudo /usr/local/bin/nimbus-validator import data-dir=<mark class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></mark> <mark class="ddkeys-path">$HOME/keystores/ddk_i<span class="instance_pid">1</span></mark></code></pre>
                        <p>NOTE: If you have used different passwords for each of your validators you will get an error. Run the process multiple times, providing each of the different passwords until they are all imported. Use the accounts list command to verify.</p>
                    </li>
                    <li><h4>Create a service user for the validator instance</h4>
                        <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="instance_su" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code></pre>
                    </li>
                    <li><h4>Set ownership of <code class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></code> to <code class="instance_su" data-client="nimbus">validators-i1</code> user</h4>
                        <pre><code>sudo chown -R <mark class="instance_su" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark>:<mark class="instance_su" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark> <mark class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></mark></code></pre>
                    </li>
                    <li><h4>Create configuration service file for <code class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></code> service</h4>
                        <ol>
                            <li>
                                <p>Open the configuration file</p>
                                <pre><code>sudo nano /etc/systemd/system/<mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark>.service</code></pre>
                            </li>
                            <li>
                                <p>Copy the configuration below into the file.</p>
                                <ul>
                                    <li><label>What's fee recipient wallet?</label> <input type="text" class="interactive-element instance_frw" data-class="instance_frw" value="0xXXXXXXXXXXXXXXXX"></li>
                                    <li><label>What's your execution client?</label> <input type="text" class="interactive-element ec_name" data-class="ec_name" value="Nethermind"></li>
                                </ul>
{{#unless chain}}
                    <div class="tabselector mt-20">
                                <nav class="egrid egrid-2">
                                    <button class="tab selected" data-tabpanel="1">Ethereum</button>
                                    <button class="tab" data-tabpanel="2">Gnosis</button>
                                </nav>
                                <div class="tabpanel selected">
{{> clients/config/eth-nimbusvalidator }}
                                </div>
                                <div class="tabpanel">
{{> clients/config/gno-nimbusvalidator }}
                                </div>
                    </div>
{{else}}
    {{#ifEqual chain "ethereum"}}
{{> clients/config/eth-nimbusvalidator }}
    {{/ifEqual}}
    {{#ifEqual chain "gnosis"}}
{{> clients/config/gno-nimbusvalidator }}
    {{/ifEqual}}
{{/unless}}
                            </li>
                            <li>
                                Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config file.
                            </li>
                        </ol>
                    </li>
                    <li><h4>Other configurations</h4>
                        <div class="tabselector mt-20">
                            <nav class="egrid egrid-2">
                                <button class="tab selected" data-tabpanel="1">Standard configuration</button>
                                <button class="tab" data-tabpanel="2">Stakers.space configuration</button>
                            </nav>
                            <div class="tabpanel selected">
                                Nothing to do. You are ok.
                            </div>
                            <div class="tabpanel">
                                <ul>
                                    <li><h4>Extend Staking manager clients.conf</h4>
                                        Insert <code><mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code> into clients.conf file that is used by <a href="https://github.com/Stakers-space/staking-scripts/tree/main/manager" target="_blank">Staking Manager</a>.
                                        <pre><code>sudo nano /usr/local/etc/staking/config/clients.conf</code></pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tabpanel">
                <ul>
                    <li><h4>Stop running validator instance <code class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></code></h4>
                        <pre><code>sudo systemctl stop <mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code></pre>
                    </li>
                    <li><h4>Extend <code class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></code> for new keystores</h4>
                        <pre><code>sudo /usr/local/bin/nimbus-validator import data-dir=<mark class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></mark> <mark class="ddkeys-path">$HOME/keystores/ddk_i<span class="instance_pid">1</span></mark></code></pre>
                        <p>NOTE: If you have used different passwords for each of your validators you will get an error. Run the process multiple times, providing each of the different passwords until they are all imported. Use the accounts list command to verify.</p>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <h4>Load processed changes to the system</h4>
        <pre><code>sudo systemctl daemon-reload</code></pre>
    </li>
    <li>
        <h4>Start the validator instance</h4>
        <pre><code>sudo systemctl start <mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code></pre>
    </li>
    <li>
        <h4>Check the running validator instance</h4>
        <pre><code>systemctl status <mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code></pre>
        <pre><code>journalctl -fu <mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code></pre>
    </li>
    <li>
        <h4>Activate service to start automatically on OS startup</h4>
        <pre><code>$ sudo systemctl enable <mark class="instance_sn" data-client="nimbus">{{servicePrefix}}nimbus-vi<span class="instance_pid">1</span></mark></code></pre>
    </li>
</ol>
{{else}}
<pre><code>sudo /usr/local/bin/nimbus-beacon deposits exit --validator=<mark class="instance_dp" data-client="nimbus">/var/lib{{slashChain}}/nimbus/vi<span class="instance_pid">1</span></mark></code></pre>

<p>See more at <a href="https://nimbus.guide/voluntary-exit.html" target="_blank" rel="nofollow noopener noreferrer">https://nimbus.guide/voluntary-exit.html</a></p>
{{/if}}