    <aside><mark>Guide under construction, not tested yet. Do not use it for production.</mark></aside>
    <ul>
      <li>
    <h4>Create a user</h4>
      <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}nimbusbeacon" class="interactive-element consensus_sn" data-class="consensus_sn" data-client="nimbus">
      <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="consensus_sn" data-client="nimbus">{{servicePrefix}}nimbusbeacon</mark></code></pre>
    </li>
    <li>
    <h4>Create a folder for Nimbus beacon data{{#if chain}} on {{chainName}} chain{{/if}}</h4>
    <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/nimbusbeacon" class="interactive-element consensus-dp" data-class="consensus-dp" data-client="nimbus">
    <pre><code>sudo mkdir -p <mark class="consensus-dp">/var/lib{{slashChain}}/nimbus/beacon</mark></code></pre>
  </li>
  <li>
    <h4>Set access permission and ownership for the Nimbus Beacon data folder</h4>
    <pre><code>sudo chown -R <mark class="consensus_sn" data-client="nimbus">{{servicePrefix}}nimbusbeacon</mark>:<mark class="consensus_sn" data-client="nimbus">{{servicePrefix}}nimbusbeacon</mark> <mark class="consensus-dp">/var/lib{{slashChain}}/nimbus/beacon</mark></code></pre>
  </li>
    </ul>
<h3 class="mt-60">Configurate & Run Nimbus Beacon service</h3>

<ul>
 {{#if PortSelection}}
    <li class="mt-15">{{> clients/config/consensusclient-portselection }}</li>
    {{/if}}
  <li>
    <h4>Create configuration file for Tekubeacon service</h4>
    <ol>
      <li>
        <p>Open Nimbus Beacon configuration file</p>
        <pre><code>sudo nano /etc/systemd/system/<mark class="consensus_sn" data-client="nimbus">{{servicePrefix}}nimbusbeacon</mark>.service</code></pre>
      </li>
      <li><p>Copy configuration</p>
          {{#unless chain}}
          <div class="tabselector">
						<nav class="egrid egrid-2">
							<button class="tab selected" data-tabpanel="1">Ethereum</button>
							<button class="tab" data-tabpanel="2">Gnosis</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-nimbusbeacon }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-nimbusbeacon }}
						</div>
					</div>
          <i>*Note: Update <code>jwt-secret-file</code>, if you use different</i>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-nimbusbeacon }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-nimbusbeacon }}
{{/ifEqual}}
      </li>
      <li>
        Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config
        file.
      </li>
    </ol>
  </li>
  <li>
    <h4>Load changes</h4>
    <pre><code>sudo systemctl daemon-reload</code></pre>
  </li>
  <li>
    <h4>Start the Beacon chain service</h4>
    <pre><code>sudo systemctl start <mark class="consensus_sn">{{servicePrefix}}nimbusbeacon</mark></code></pre></code></pre>
  </li>
  <li>
    <h4>Check the service</h4>
    <pre><code>systemctl status <mark class="consensus_sn">{{servicePrefix}}nimbusbeacon</mark>
journalctl -fu <mark class="consensus_sn">{{servicePrefix}}nimbusbeacon</mark></code></pre>
  </li>
  <li>
    <h4>Start the service automatically on system startup</h4>
    <pre><code>sudo systemctl enable <mark class="consensus_sn">{{servicePrefix}}nimbusbeacon</mark></code></pre>
  </li>
</ul>