    <ul class="list-disc my-4 pl-6">
      <li>
    <h4>Create a user</h4>
      <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}prysmbeacon" class="interactive-element consensus_sn" data-class="consensus_sn" data-client="prysm">
      <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="consensus_sn" data-client="prysm">{{servicePrefix}}prysmbeacon</mark></code></pre>
    </li>
    <li>
    <h4>Create a folder for Prysmbeacon data{{#if chain}} on {{chainName}} chain{{/if}}</h4>
    <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/prysmbeacon" class="interactive-element consensus-dp" data-class="consensus-dp" data-client="prysm">
    <pre><code>sudo mkdir -p <mark class="consensus-dp">/var/lib{{slashChain}}/prysm/beacon</mark></code></pre>
  </li>
  <li>
    <h4>Set access permission and ownership for the Prysm data folder</h4>
    <pre><code>sudo chown -R <mark class="consensus_sn" data-client="prysm">{{servicePrefix}}prysmbeacon</mark>:<mark class="consensus_sn" data-client="prysm">{{servicePrefix}}prysmbeacon</mark> <mark class="consensus-dp">/var/lib{{slashChain}}/prysm/beacon</mark></code></pre>
  </li>
 {{#if PortSelection}}
    <li>{{> clients/config/consensusclient-portselection }}</li>
    {{/if}}
  <li>
    <h4>Create configuration file for Tekubeacon service</h4>
    <ol class="list-decimal space-y-2 pl-6">
      <li>
        <p>Open PrysmBeacon configuration file</p>
        <pre><code>sudo nano /etc/systemd/system/<mark class="consensus_sn" data-client="prysm">{{servicePrefix}}prysmbeacon</mark>.service</code></pre>
      </li>
      <li><p>Copy configuration</p>
          {{#unless chain}}
          <div class="tabselector">
						<nav class="egrid egrid-2">
							<button class="tab selected" data-tabpanel="1">Ethereum</button>
							<button class="tab" data-tabpanel="2">Gnosis</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-prysmbeacon }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-prysmbeacon }}
						</div>
					</div>
          <i>*Note: Update <code>jwt-secret-file</code>, if you use different</i>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-prysmbeacon }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-prysmbeacon }}
{{/ifEqual}}
      </li>
      <li>
        Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config
        file.
      </li>
    </ol>
  </li>
  <li>
    <h4>Load changes</h4>
    <pre><code>sudo systemctl daemon-reload</code></pre>
  </li>
    </ul>


<h3 class="mt-10 text-xl">Launch PrysmBeacon service</h3>
<ul class="list-disc my-4">
  <li>
    <h4>Start the Beacon chain service</h4>
    <pre><code>sudo systemctl start <mark class="consensus_sn">{{servicePrefix}}prysmbeacon</mark></code></pre></code></pre>
  </li>
  <li>
    <h4>Check the service</h4>
    <pre><code>systemctl status <mark class="consensus_sn">{{servicePrefix}}prysmbeacon</mark></code></pre>
    <pre><code>journalctl -fu <mark class="consensus_sn">{{servicePrefix}}prysmbeacon</mark></code></pre>
  </li>
  <li>
    <h4>Start the service automatically on system startup</h4>
    <div class="tabselector">
            <nav>
              <button class="tab selected" data-tabpanel="1">Standard configuration</button>
              <button class="tab" data-tabpanel="2">StakersSpace configuration</button>
            </nav>
            <div class="tabpanel selected">
              <div class="tabselector">
                <nav>
                  <button class="tab selected" data-tabpanel="1">Standard option</button>
                  <button class="tab" data-tabpanel="2">Delayed start util</button>
                </nav>
                <div class="tabpanel selected">
                  <pre><code>sudo systemctl enable <mark class="consensus_sn">{{servicePrefix}}prysmbeacon</mark></code></pre>
                </div>
                <div class="tabpanel">
                     {{> clients/config/delayed-start MarkClass="consensus_sn" ClientName="prysm" ServiceName="prysmbeacon" }}
                </div>
              </div>
            </div>
            <div class="tabpanel">
              {{> clients/config/staking-manager MarkClass="consensus_sn" servicesCategory="beacon" ClientName="prysm" ServiceName="prysmbeacon" }}
            </div>
          </div>
  </li>
</ul>