    <ul class="list-disc my-4">
      <li>
    <{{sectionHeader}} class="text-md">Create a user</{{sectionHeader}}>
      <label>Service/User name</label>: <input type="text" value="{{servicePrefix}}tekubeacon" class="interactive-element consensus_sn" data-class="consensus_sn" data-client="teku">
      <pre><code>sudo useradd --system --no-create-home --shell /bin/false <mark class="consensus_sn" data-client="teku">{{servicePrefix}}tekubeacon</mark></code></pre>
    </li>
    <li>
    <{{sectionHeader}} class="text-md">Create a folder for Tekubeacon data{{#if chain}} on {{chainName}} chain{{/if}}</{{sectionHeader}}>
    <label>Service data directory</label>: <input type="text" value="/var/lib{{slashChain}}/tekubeacon" class="interactive-element consensus-dp" data-class="consensus-dp" data-client="lodestar">
    <pre><code>sudo mkdir -p <mark class="consensus-dp">/var/lib{{slashChain}}/tekubeacon</mark></code></pre>
  </li>
  <li>
    <{{sectionHeader}} class="text-md">Set access permission and ownership for the Teku data folder</{{sectionHeader}}>
    <pre><code>sudo chown -R <mark class="consensus_sn" data-client="teku">{{servicePrefix}}tekubeacon</mark>:<mark class="consensus_sn" data-client="teku">{{servicePrefix}}tekubeacon</mark> <mark class="consensus-dp">/var/lib{{slashChain}}/tekubeacon</mark></code></pre>
  </li>
   {{#if PortSelection}}
    <li>{{> clients/config/consensusclient-portselection }}</li>
    {{/if}}
    <li>
    <{{sectionHeader}} class="text-md">Create configuration file for Tekubeacon service</{{sectionHeader}}>
    <ol class="list-decimal space-y-2 pl-6">
      <li>
        <p>Open Tekubeacon configuration file</p>
        <pre><code>sudo nano /etc/systemd/system/<mark class="consensus_sn" data-client="teku">{{servicePrefix}}tekubeacon</mark>.service</code></pre>
      </li>
      <li><p>Copy configuration</p>
          {{#unless chain}}
          <div class="tabselector">
						<nav class="egrid egrid-2">
							<button class="tab selected" data-tabpanel="1">Ethereum</button>
							<button class="tab" data-tabpanel="2">Gnosis</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/config/eth-tekubeacon }}
						</div>
						<div class="tabpanel">
{{> clients/config/gno-tekubeacon }}
						</div>
					</div>
          <i>*Note: Update <code>ee-jwt-secret-file</code>, if you use different</i>
          {{/unless}}
{{#ifEqual chain "ethereum"}}
{{> clients/config/eth-tekubeacon }}
{{/ifEqual}}
{{#ifEqual chain "gnosis"}}
{{> clients/config/gno-tekubeacon }}
{{/ifEqual}}
      </li>
      <li>
        Press <code>CTRL</code> + <code>X</code> then <code>Y</code> then <code>ENTER</code> to save and exit the config
        file.
      </li>
    </ol>
  </li>
  <li>
    <{{sectionHeader}} class="text-md">Load changes</{{sectionHeader}}>
    <pre><code>sudo systemctl daemon-reload</code></pre>
  </li>
    </ul>
<{{sectionHeader}} class="text-md mt-10">Launch Tekubeacon service</{{sectionHeader}}>
<ul class="list-disc my-4 pl-6">
  <li>
    <span class="block font-bold">Start the Beacon chain service</span>
    <pre><code>sudo systemctl start <mark class="consensus_sn">{{servicePrefix}}tekubeacon</mark></code></pre></code></pre>
  </li>
  <li>
    <span class="block font-bold">Check the service</span>
    <pre><code>systemctl status <mark class="consensus_sn">{{servicePrefix}}tekubeacon</mark></code></pre>
    <pre><code>journalctl -fu <mark class="consensus_sn">{{servicePrefix}}tekubeacon</mark></code></pre>
  </li>
  <li>
    <{{sectionHeader}} class="text-md">Start the service automatically on system startup</{{sectionHeader}}>
    <div class="tabselector bg-gray-300 p-10 pt-5 rounded-xl shadow-md">
      <nav>
        <button class="tab selected" data-tabpanel="1">Standard configuration</button>
        <button class="tab" data-tabpanel="2">StakersSpace configuration</button>
      </nav>
      <div class="tabpanel selected">
        <div class="tabselector bg-gray-400 p-10 pt-5 rounded-xl shadow-md">
          <nav>
            <button class="tab selected" data-tabpanel="1">Standard option</button>
            <button class="tab" data-tabpanel="2">Delayed start util</button>
          </nav>
          <div class="tabpanel selected">
              <pre><code>sudo systemctl enable <mark class="consensus_sn">{{servicePrefix}}tekubeacon</mark></code></pre>
          </div>
          <div class="tabpanel">
              {{> clients/config/delayed-start MarkClass="consensus_sn" ClientName="teku" ServiceName="tekubeacon" }}
          </div>
        </div>
      </div>
      <div class="tabpanel">
        {{> clients/config/staking-manager MarkClass="execution_sn" servicesCategory="beacon" ClientName="teku" ServiceName="tekubeacon" }}
      </div>
    </div>
  </li>
</ul>