{{> header}}
<main class="max-w-7xl mx-auto px-6 lg:px-20 py-12">
  <ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="Thing" href="/">
        <span property="name">Stakers.space</span>
      </a>
      <meta property="position" content="1">
    </li>
    {{#or isEthereum isGnosis}}
      <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="Thing" href="/{{chainUrl}}">
          <span property="name">{{chainName}} staking</span>
        </a>
        <meta property="position" content="2">
      </li>
      <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="Thing" href="/{{chainUrl}}/clients">
          <span property="name">Clients</span>
        </a>
        <meta property="position" content="3">
      </li>
    {{else}}
      <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="Thing" href="/clients">
          <span property="name">Clients</span>
        </a>
        <meta property="position" content="2">
      </li>
    {{/or}}
  </ul>

  	<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-10">
		<h1 class="text-4xl lg:text-5xl font-bold text-gray-900 mb-4 sm:mb-0">
			{{chainName}} Staking clients
		</h1>

		<div class="bg-yellow-50 border border-yellow-200 rounded-lg px-4 py-2 text-xs text-yellow-800 shadow-sm max-w-xs sm:ml-6">
			<h3 class="text-sm font-semibold mb-1">Disclaimer</h3>
			<p class="leading-snug">
			This page is for informational purposes only. No guarantee of accuracy. Use at your own risk. <a href="http://localhost:8080/disclaimer" target="_blank" class="underline">See more.</a>
			</p>
		</div>
	</div>

	<section id="intro" class="my-10">
		<p>
			Staking clients are the core software components that run validator nodes on the {{#or isEthereum isGnosis}}{{{chainName}}}{{else}}Ethereum and Gnosis{{/or}} networks.
			They are responsible for both the <a href="#execution" class="underline font-bold">execution layer</a> (handling transactions and smart contracts)
			and the <a href="#consensus" class="underline font-bold">consensus layer</a> (managing validator duties, attestations and block proposals).
		</p>
		<p class="mt-5">
			<strong>Choosing a reliable client is critical for validator performance, network health, and decentralization.</strong>
			Each client is developed by an independent team with different programming languages and architectural approaches,
			ensuring diversity and resilience of the ecosystem.
		</p>
	</section>

  <!-- Navigation (only if not Ethereum or Gnosis) -->
  {{#or isEthereum isGnosis}}
  {{else}}
  <section class="mb-12 mt-10">
    <h2 class="font-semibold mb-4">Navigation:</h2>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
      <a href="#clients" class="bg-white rounded-xl border border-gray-200 shadow hover:shadow-md p-5 text-center transition">
        <span><strong>All</strong> staking clients</span>
      </a>
      <a href="/ethereum-staking/clients" class="bg-white rounded-xl border border-gray-200 shadow hover:shadow-md p-5 text-center transition">
        <span><strong>Ethereum</strong> staking clients</span>
      </a>
      <a href="/gnosis-staking/clients" class="bg-white rounded-xl border border-gray-200 shadow hover:shadow-md p-5 text-center transition">
        <span><strong>Gnosis</strong> staking clients</span>
      </a>
    </div>
  </section>
  {{/or}}

  <!-- Clients Section -->
  <section id="clients">
    <div class="max-w-full overflow-x-auto">
      <!-- Execution Clients -->
      <h2 class="text-2xl font-semibold mb-4" id="execution">Execution layer clients</h2>
	  <p class="mb-4">Execution clients <strong>handle smart contracts and transactions.</strong></p>
      <table class="w-full border border-gray-200 rounded-xl shadow text-sm text-left">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-3">Name</th>
            {{#or isEthereum isGnosis}}{{else}}
              <th class="px-4 py-3">Chains</th>
            {{/or}}
            <th class="px-4 py-3">Language</th>
            <th class="px-4 py-3">Prerequisity</th>
            <th class="px-4 py-3">OS</th>
            <th class="px-4 py-3">Latest version</th>
            <th class="px-4 py-3">Social Media</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
			{{#each executionClients_arr}}
							{{#or ../isEthereum ../isGnosis}}
								{{#and this.chain.ethereum.supported ../isEthereum }}
									<tr>
										<td><a href="/{{this.ilink}}"><strong>{{this.name}}</strong></a>
											<span style="float:right">
												{{#if this.chain.ethereum.link}}<a href="{{this.chain.ethereum.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/ethereum.png" alt="Gnosis" width="25"></a>{{/if}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
											</span>
										</td>
										<td>{{this.language}}</td>
										<td>{{this.prerequisity}}</td>
										<td class="flex items-center gap-2">
											{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
											{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
											{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
										</td>
										<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
										<td class="flex items-center gap-2">
											{{#each this.social}}
											<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
											{{/each}}
										</td>
									</tr>
								{{/and}}
								{{#and this.chain.gnosis.supported ../isGnosis }}
									<tr>
										<td><a href="/{{this.ilink}}"><strong>{{this.name}}</strong></a>
											<span style="float:right">
												{{#if this.chain.gnosis.link}}<a href="{{this.chain.gnosis.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/gnosis.png" alt="Gnosis" width="25"></a>{{/if}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
											</span>
										</td>
										<td>{{this.language}}</td>
										<td>{{this.prerequisity}}</td>
										<td class="flex items-center gap-2">
											{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
											{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
											{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
										</td>
										<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
										<td class="flex items-center gap-2">
											{{#each this.social}}
											<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
											{{/each}}
										</td>
									</tr>
								{{/and}}
							{{else}}
							<tr>
								<td><a href="/{{this.ilink}}"><strong>{{this.name}}</strong></a>
									<span style="float:right">
										{{#if this.chain.ethereum.link}}<a href="{{this.chain.ethereum.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/ethereum.png" alt="Gnosis" width="25"></a>{{/if}}
										<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
									</span>
								</td>
								<td class="flex items-center gap-2">
									{{#if this.chain.ethereum.supported}}<img src="/img/icons/ethereum.png" alt="Linux" width="25">{{/if}}
									{{#if this.chain.gnosis.supported}}<img src="/img/icons/gnosis.png" alt="Linux" width="25">{{/if}}
								</td>
								<td>{{this.language}}</td>
								<td>{{this.prerequisity}}</td>
								<td class="flex items-center gap-2">
									{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
									{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
									{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
								</td>
								<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
								<td class="flex items-center gap-2">
									{{#each this.social}}
									<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
									{{/each}}
								</td>
							</tr>
							{{/or}}
							{{/each}}
        </tbody>
      </table>
      <!-- Link to tracker -->
      {{#or isEthereum isGnosis}}
        {{#if isGnosis}}
          <p class="text-center mt-4">
            <a href="https://gnosisscan.io/nodetracker" target="_blank" rel="nofollow noopener noreferrer" class="text-emerald-600 hover:underline">
              Gnosis Chain Node Tracker
            </a>
          </p>
        {{else}}
          <p class="text-center mt-4">
            <a href="https://clientdiversity.org/" target="_blank" rel="nofollow noopener noreferrer" class="text-emerald-600 hover:underline">
              Clients distribution
            </a>
          </p>
        {{/if}}
      {{/or}}

      <!-- Consensus Clients -->
      <h2 class="text-2xl font-semibold mt-12 mb-4" id="consensus">Consensus layer clients</h2>
	  <p class="mb-4">Consensus clients <strong>coordinate validators and finality</strong>.</p>
      <table class="w-full border border-gray-200 rounded-xl shadow text-sm text-left">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-3">Name</th>
            {{#or isEthereum isGnosis}}{{else}}
              <th class="px-4 py-3">Chains</th>
            {{/or}}
            <th class="px-4 py-3">Language</th>
            <th class="px-4 py-3">Prerequisity</th>
            <th class="px-4 py-3">OS</th>
            <th class="px-4 py-3">Latest version</th>
            <th class="px-4 py-3">Social Media</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
         {{#each consensusClients_arr}}
							{{#or ../isEthereum ../isGnosis}}
								{{#and this.chain.ethereum.supported ../isEthereum }}
									<tr>
										<td><a href="/{{this.ilink}}"><strong>{{this.name}}</strong></a>
											<span style="float:right">
												{{#if this.chain.ethereum.link}}<a href="{{this.chain.ethereum.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/gnosis.png" alt="Gnosis" width="25"></a>{{/if}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
											</span>
										</td>
										<td>{{this.language}}</td>
										<td>{{this.prerequisity}}</td>
										<td class="flex items-center gap-2">
											{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
											{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
											{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
										</td>
										<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
										<td class="flex items-center gap-2">
											{{#each this.social}}
											<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
											{{/each}}
										</td>
									</tr>
								{{/and}}
								{{#and this.chain.gnosis.supported ../isGnosis }}
										<tr>
											<td><a href="/{{this.ilink}}"><strong>{{this.name}}</strong></a>
												<span style="float:right">
													{{#if this.chain.gnosis.link}}<a href="{{this.chain.gnosis.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/gnosis.png" alt="Gnosis" width="25"></a>{{/if}}
													<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
												</span>
											</td>
											<td>{{this.language}}</td>
											<td>{{this.prerequisity}}</td>
											<td class="flex items-center gap-2">
												{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
												{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
												{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
											</td>
											<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
											<td class="flex items-center gap-2">
												{{#each this.social}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
												{{/each}}
											</td>
										</tr>
								{{/and}}
							{{else}}
							<tr>
								<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a>
									<span style="float:right">
										{{#if this.chain.ethereum.link}}<a href="{{this.chain.ethereum.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/gnosis.png" alt="Gnosis" width="25"></a>{{/if}}
										<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
									</span>
								</td>
								<td class="flex items-center gap-2">
									{{#if this.chain.ethereum.supported}}<img src="/img/icons/ethereum.png" alt="Linux" width="25">{{/if}}
									{{#if this.chain.gnosis.supported}}<img src="/img/icons/gnosis.png" alt="Linux" width="25">{{/if}}
								</td>
								<td>{{this.language}}</td>
								<td>{{this.prerequisity}}</td>
								<td class="flex items-center gap-2">
									{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
									{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
									{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
								</td>
								<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
								<td class="flex items-center gap-2">
									{{#each this.social}}
									<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
									{{/each}}
								</td>
							</tr>
							{{/or}}
							{{/each}}
        </tbody>
      </table>

      <!-- MEV Clients -->
      <h2 class="text-2xl font-semibold mt-12 mb-4" id="mev">MEV clients</h2>
	  <p class="mb-4">MEV clients <strong>optimize block building for maximal value extraction.</strong></p>
      <table class="w-full border border-gray-200 rounded-xl shadow text-sm text-left">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-3">Name</th>
            {{#or isEthereum isGnosis}}{{else}}
              <th class="px-4 py-3">Chains</th>
            {{/or}}
            <th class="px-4 py-3">Language</th>
            <th class="px-4 py-3">Prerequisity</th>
            <th class="px-4 py-3">OS</th>
            <th class="px-4 py-3">Latest version</th>
            <th class="px-4 py-3">Social Media</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {{#each mevClients_arr}}
								{{#or ../isEthereum ../isGnosis}}
									{{#and this.chain.ethereum.supported ../isEthereum}}
										<tr>
											<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a>
												<span style="float:right">
													{{#if this.chain.ethereum.link}}<a href="{{this.chain.ethereum.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/ethereum.png" alt="Gnosis" width="25"></a>{{/if}}
													<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
												</span>
											</td>
											<td>{{this.language}}</td>
											<td>{{this.prerequisity}}</td>
											<td class="flex items-center gap-2">
												{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="25">{{/if}}
											</td>
											<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
											<td class="flex items-center gap-2">
												{{#each this.social}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
												{{/each}}
											</td>
										</tr>
									{{/and}}
									{{#and this.chain.gnosis.supported ../isGnosis }}
											<tr>
												<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a>
													<span style="float:right">
														{{#if this.chain.gnosis.link}}<a href="{{this.chain.gnosis.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/gnosis.png" alt="Gnosis" width="25"></a>{{/if}}
														<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/code.png" alt="Developer" width="25"></a>
													</span>
												</td>
												<td>{{this.language}}</td>
												<td>{{this.prerequisity}}</td>
												<td class="flex items-center gap-2">
													{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="20">{{/if}}
													{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="20">{{/if}}
													{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="20">{{/if}}
												</td>
												<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
												<td class="flex items-center gap-2">
													{{#each this.social}}
													<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
													{{/each}}
												</td>
											</tr>
									{{/and}}
								{{else}}
								<tr>
											<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a></td>
											<td class="flex items-center gap-2">
												{{#if this.chain.ethereum.supported}}<img src="/img/icons/ethereum.png" alt="Linux" width="25">{{/if}}
												{{#if this.chain.gnosis.supported}}<img src="/img/icons/gnosis.png" alt="Linux" width="25">{{/if}}
											</td>
											<td>{{this.language}}</td>
											<td>{{this.prerequisity}}</td>
											<td class="flex items-center gap-2">
												{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="25">{{/if}}
											</td>
											<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
											<td class="flex items-center gap-2">
												{{#each this.social}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
												{{/each}}
											</td>
								</tr>
								{{/or}}
								{{/each}}
        </tbody>
      </table>

      <!-- Service Clients -->
      <h2 class="text-2xl font-semibold mt-12 mb-4" id="service">Service-based clients</h2>
	  <p class="mb-4">Service-based clients <strong>offer simplified deployment or managed infrastructure.</strong></p>
      <table class="w-full border border-gray-200 rounded-xl shadow text-sm text-left">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-3">Name</th>
            {{#or isEthereum isGnosis}}{{else}}
              <th class="px-4 py-3">Chains</th>
            {{/or}}
            <th class="px-4 py-3">Language</th>
            <th class="px-4 py-3">Prerequisity</th>
            <th class="px-4 py-3">OS</th>
            <th class="px-4 py-3">Latest version</th>
            <th class="px-4 py-3">Social Media</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {{#each serviceClients_arr}}
								{{#or ../isEthereum ../isGnosis}}
									{{#and this.chain.ethereum.supported ../isEthereum }}
									<tr>
										<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a></td>
										<td>{{this.language}}</td>
										<td>{{this.prerequisity}}</td>
										<td class="flex items-center gap-2">
												{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="25">{{/if}}
											</td>
										<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
										<td class="flex items-center gap-2">
											{{#each this.social}}
											<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
											{{/each}}
										</td>
									</tr>
									{{/and}}
									{{#and this.chain.gnosis.supported ../isGnosis }}
										<tr>
											<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a></td>
											<td>{{this.language}}</td>
											<td>{{this.prerequisity}}</td>
											<td class="flex items-center gap-2">
												{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="25">{{/if}}
												{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="25">{{/if}}
											</td>
											<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
											<td class="flex items-center gap-2">
												{{#each this.social}}
												<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
												{{/each}}
											</td>
										</tr>
									{{/and}}
								{{else}}
								<tr>
										<td><a href="/{{this.ilink}}" class="font-bold">{{this.name}}</a></td>
										<td class="flex items-center gap-2">
											{{#if this.chain.ethereum.supported}}<img src="/img/icons/ethereum.png" alt="Linux" width="25">{{/if}}
											{{#if this.chain.gnosis.supported}}<img src="/img/icons/gnosis.png" alt="Linux" width="25">{{/if}}
										</td>
										<td>{{this.language}}</td>
										<td>{{this.prerequisity}}</td>
										<td class="flex items-center gap-2">
											{{#if this.os.linux}}<img src="/img/icons/linux.png" alt="Linux" width="25">{{/if}}
											{{#if this.os.windows}}<img src="/img/icons/windows.png" alt="Linux" width="25">{{/if}}
											{{#if this.os.macos}}<img src="/img/icons/macos.png" alt="Linux" width="25">{{/if}}
										</td>
										<td><a href="{{this.github}}" target="_blank" rel="nofollow noopener noreferrer">{{this.latestVer}}</a> <code style="font-size:0.8rem">({{this.release_time}})</code></td>
										<td class="flex items-center gap-2">
											{{#each this.social}}
											<a href="{{this.link}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/{{this.icon}}" alt="{{this.name}}" width="25"></a>
											{{/each}}
										</td>
									</tr>
								{{/or}}
							{{/each}}
        </tbody>
      </table>
    </div>
  </section>
</main>
{{> footer_tailwind}}