{{> header}}
<main class="mb-60">
	<section class="cover grid egrid">
		<div class="mt-60 mb-40">
			<ul class="broadcrumbs mb-20" vocab="https://schema.org/" typeof="BreadcrumbList">
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/clients"><span property="name">clients</span></a>
					<meta property="position" content="2">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/clients/{{client}}"><span property="name">{{clientName}} client</span></a>
					<meta property="position" content="3">
				</li>
			</ul>
			<h1 class="cover-title"><span>{{clientName}} client</span> guides and options</h1>
			<p>One-page interactive complete guide to configurate and operate {{clientName}} client.</p>
		</div>
		<div class="mt-60 mb-40" style="position:relative;padding-left:9rem;font-size:.8rem">
			<div style="height: fit-content;bottom: 0;position: absolute;">
				<h3>Disclaimer</h3>
				<p>This guide is for informational purposes only. The author nor website owner does not guarantee accuracy of the information in this guide and is not responsible for any damages or losses incurred by following the guide.</p>
            </div>
		</div>
	</section>

	<section class="grid">
		<h2 class="mt-0 mb-0">Individual guides</h2>
		<div class="egrid egrid-3">
			<a href="/{{client}}/install" class="btn center box"><span><strong>Install</strong> {{clientName}} client</span></a>
			<a href="/{{client}}/update" class="btn center box"><span><strong>Update</strong> {{clientName}} client</span></a>
			<a href="/{{client}}/emergency" class="btn center box"><span><strong>Emergency</strong> for {{clientName}} client</span></a>
			{{#ifEqual cliLayer "consensus"}}
			<a href="/{{client}}/add-validator" class="btn center box"><span><strong>Add</strong> {{clientName}} validator</span></a>
			<a href="/{{client}}/exit-validator" class="btn center box"><span><strong>Exit</strong> {{clientName}} validator</span></a>
			{{/ifEqual}}
		</div>
	</section>

	<section class="grid">
		<h2 class="mt-40 mb-0">Chains support</h2>
		<div class="egrid egrid-2">
			<div class="btn center box">
				{{#if cliData.chain.ethereum.supported}}<img src="/img/icons/supported.png" alt="Supported" title="Supported" width="32px">{{else}}X{{/if}}
				 <strong>Ethereum</strong>
			</div>
			<div class="btn center box">
				{{#if cliData.chain.gnosis.supported}}<img src="/img/icons/supported.png" alt="Supported" title="Supported" width="32px">{{else}}X{{/if}}
				 <strong>Gnosis</strong>
			</div>
		</div>
	</section>

	<div class="grid-full contents serverguide">
        <div class="content-chapters">
			<div class="sticky">
				 <nav>
					<strong>{{clientName}} client</strong>
					<ul>
						<li><a href="#install">Install</a></li>
						<li><a href="#service">Configurate</a></li>
						{{#if partial2ToLoad}}
						<li>Validator(s) service
							<ul>
								<li><a href="#add-validator">Add validators</a></li>
								<li><a href="#exit-validator">Exit validators</a></li>
							</ul>
						</li>
						{{/if}}
						<li><a href="#update">Update client</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="content-header">
			<section class="chapter" id="intro">
				<div class="content">
					<h2>On-page actions for {{clientName}} client</h2>
					<p>{{clientName}} client can be used for staking on various supported chains. Client installation is always only one, used by services with an individual configuration (different service name, data path and ports in use).</p>
				</div>
			</section>
			{{> guides/serverSelection }}
		</div>
		<div class="content-panel">
			<div class="sticky mt-100">
				{{> guides/variablesOverview }}
			</div>
		</div>

		<div class="content-body">
            <section class="chapter" id="install">
				<div class="content">
					<h2>Install {{clientName}} client</h2>
{{> (lookup . 'cliPartial') InstallationGuide=true }}
				</div>
			</section>
			{{#if cliConfigPartial}}
			<section class="chapter" id="service">
				<div class="content">
					<h2>Configurate service</h2>
{{> (lookup . 'cliConfigPartial') PortSelection=true }}
				</div>
			</section>
			{{/if}}

			{{#if partial2ToLoad}}
			<section class="chapter mt-60" id="add-validator">
				<div class="content bt">
					<h2>Launch validator instance / validator(s)</h2>
{{> (lookup . 'partial2ToLoad') AddValidator=true }}
				</div>
			</section>
			<section class="chapter mt-60" id="exit-validator">
				<div class="content bt">
					<h2>Exit validator instance / validator(s)</h2>
{{> (lookup . 'partial2ToLoad') AddValidator=false }}
				</div>
			</section>
			{{/if}}

			<section class="chapter mt-60" id="update">
				<div class="content bt">
					<h2>Update {{clientName}} client</h2>
{{> (lookup . 'cliPartial') }}	
				</div>
			</section>

        </div>
    </div>
</main>
{{> footer}}
{{> scripts/tabselector}}