<body id="body" data-amp-auto-lightbox-disable>

{{> header}}
<main>
	<section class="cover">
		<div class="cover-top">
			<div class="cover-main grid egrid egrid-2">
				<div class="cover-main_left separator-vertical separator-after">
					<div class="cover-main_left-content title-page mb-30">
						<ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
								<meta property="position" content="1">
							</li>
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="Thing" href="/ethereum-staking"><span property="name">Ethereum staking</span></a>
								<meta property="position" content="2">
							</li>
						</ul>
						<h1 class="title">All around<br>Ethereum staking</h1>
						<p class="subtitle"><strong>Earn 24/7</strong> while <br>securing a new era of  <span class="dynamic" data-text="Internet"></span></p>
						<a href="#operate" class="btn btn-black btn-rounded">Operate node</a>
						<a href="#delegate" class="btn btn-black btn-rounded">Delegate funds</a>
					</div>
				</div>
				<div class="cover-main_right">
					<div class="cover-main_right-news">
						<div class="tabselector decent">
							<nav class="egrid egrid-4">
								<span>News filtration:</span>
								<button class="tab selected" data-tabpanel="1" type="button">All</button>
								<button class="tab" data-tabpanel="2" type="button">Fundamentals</button>
								<button class="tab" data-tabpanel="3" type="button">Clients</button>
							</nav>
							<div class="tabpanel selected screen">
								<ul class="mt-10">
									{{#each newsfeed.all}}
									<li>
										<a href="{{this.a}}" target="_blank" rel="nofollow noopener noreferrer">{{{this.m}}}</a> <span class="date" title="{{{this.ht}}}">{{{this.ta}}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
							<div class="tabpanel screen">
								<ul class="mt-10">
									{{#each newsfeed.fundamental}}
									<li>
										<a href="{{this.a}}" target="_blank" rel="nofollow noopener noreferrer">{{{this.m}}}</a> <span class="date" title="{{{this.ht}}}">{{{this.ta}}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
							<div class="tabpanel screen">
								<ul class="mt-10">
									{{#each newsfeed.clients}}
									<li>
										<a href="{{this.a}}" target="_blank" rel="nofollow noopener noreferrer">{{{this.m}}}</a> <span class="date" title="{{{this.ht}}}">{{{this.ta}}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<a href="/news" class="btn btn-black btn-rounded">View all news</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cover-middle separator-horizontal separator-before">
			<div class="egrid egrid-2 mx-2 my-2">
				<div>
					<div class="header flex">
						<h2 class="title f-125 m-0"><a href="/ethereum-staking/validators">{{{queue.current.validatorscount_hr}}} active validators</a></h2>
						<div class="label dynamic px-1 py-1" style="width:170px;height:21px">
							<span class="item visible">{{{indicators.validators.increments.day}}} in the last day</span>
							<span class="item hidden">{{{indicators.validators.increments.week}}} in the last week</span>
							<span class="item hidden">{{{indicators.validators.increments.month}}} in the last month</span>
							<span class="item hidden">{{{indicators.validators.increments.year}}} in the last year</span>
						</div>
					</div>
					<div class="egrid egrid-66fr gap-4">
						<div style="position:relative">
							<canvas id="ethvalidators_chart" name="lazy-canvas" style="max-height:240px;"></canvas>
							<div class="chart-legend">
								<span class="black-line">Validators</span>
								<span class="balance-bar">Daily change</span>
							</div>
						</div>
						<div>
							<div>
								<strong>{{queue.current.beaconchain_entering_hr}} Validators in <a style="color:green" href="/ethereum-staking/validators#entry-queue">Entry Queue</a></strong>
								<p class="mt-0">Wait Time: {{queue.current.activation.waitingTimeHours}} hours, {{queue.current.activation.waitingTimeMinutes}} minutes</p>
							</div>
							<div>
								<strong>{{queue.current.beaconchain_exiting_hr}} validators in <a style="color:red" href="/ethereum-staking/validators#exit-queue">Exit Queue</a></strong>
								<p class="mt-0">Wait time: {{queue.current.exiting.waitingTimeHours}} hours, {{queue.current.exiting.waitingTimeMinutes}} minutes</p>
							</div>
						</div>
					</div>
				</div>
				<div class="egrid egrid-2 charts-carousel scroll-horizontal">
					<a href="/charts/ethereum-staking-apy" class="chart">
						<div class="header">
							<h2 class="title">~ {{{indicators.aprLastDay.value}}} ETH APY</h2>
							<div class="label dynamic px-1 py-1" style="width:170px;height:21px">
								<span class="item visible">~ {{{indicators.aprLastDay.operator}}} Operator</span>
								<span class="item hidden">~ {{{indicators.aprLastDay.delegator}}} Delegator</span>
							</div>
						</div>
						<canvas id="ethstakingapr_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
							<span class="black-line">Daily APR</span>
							<span class="green-bar">Daily Execution Reward percentage</span>
							<span class="grey-bar">Daily Consensus Reward percentage</span>
						</div>
					</a>
					<a href="/charts/ethereum-blocks" class="chart">
						<div class="header">
							<h2 class="title">Blocks</h2>
						</div>
						<canvas id="blocks_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
							<span class="green-bar">Proposed blockes</span>
							<span class="red-bar">Missed blocks</span>
						</div>
					</a>
				</div>
			</div>
			{{!--<p class="cover-options_scroll">Scroll down for more info</p>--}}
		</div>
	</section>
	<section>
		<div class="egrid egrid-33fr guidesbar gap-6">
				<div class="grid-leftpadding">
					<div>
						<div class="title-section">
							<h2><span>What's Ethereum?</span></h2>
							<p class="f-normal"><a href="https://ethereum.org/en/" target="_blank">Ethereum</a> is a decentralized blockchain where transactions take place, including payments, ownership of digital assets, and interactions with smart contracts. These operations are <strong>powered by its native token, Ether (ETH), which serves both as a digital currency and as a means to pay for network fees</strong>.</p>
						</div>
					</div>
				</div>
				<div class="egrid egrid-3 gap-4" style="margin-right:2rem;">
					
					<a href="/charts/ethereum-marketcap" class="chart" style="position: relative;">
						<div class="header">
							<h2 class="title">ETH Marketcap</h2>
						</div>
						<canvas id="marketcap_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
							<span class="black-line">Market Cap</span>
							<span class="balance-bar">Daily change</span>
						</div>
					</a>
					<a href="/charts/eth-circulation-supply" class="chart" style="position: relative;">
						<div class="header">
							<h2 class="title">{{{indicators.supply.value}}} ETH circ supply</h2>
							<div class="label dynamic px-1 py-1" style="width:170px;height:21px">
								<span class="item visible">{{{indicators.supply.increments.day}}} in the last day</span>
								<span class="item hidden">{{{indicators.supply.increments.week}}} in the last week</span>
								<span class="item hidden">{{{indicators.supply.increments.month}}} in the last month</span>
								<span class="item hidden">{{{indicators.supply.increments.year}}} in the last year</span>
							</div>
						</div>
						<canvas id="ethsupply_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
								<span class="black-line">ETH Circ Supply</span>
								<span class="balance-bar">Daily change</span>
							</div>
					</a>
					<a href="/charts/ethereum-transactions" class="chart" style="position: relative;">
						<div class="header">
							<h2 class="title">Transactions</h2>
						</div>
						<canvas id="transactions_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
							<span class="black-line">Transactions</span>
							<span class="balance-bar">ETH Fees</span>
						</div>
					</a>
				</div>
			</div>
	</section>
	<section class="separator-horizontal separator-after">
		<div class="egrid egrid-33fr guidesbar gap-6">
				<div class="grid-leftpadding">
					<div>
						<div class="title-section">
							<h2><span>What's Staking?</span></h2>
							<p class="f-normal">Staking is the <strong>process of locking up ETH to support the operations and security of a blockchain network. By staking, you help validate transactions and maintain the network's integrity while earning rewards in return.</strong> It’s a key feature of Ethereum’s Proof of Stake system.</p>
						</div>
					</div>
				</div>
				<div class="egrid egrid-3 gap-4" style="margin-right:2rem;">
					<div></div>
					<a href="/charts/eth-staked" class="chart" style="position: relative;">
						<div class="header">
							<h2 class="title" title="{{{indicators.stakedTokens.supplyShare}}} of all ETH in circulation">{{{indicators.stakedTokens.hr_value}}} staked ETH</h2>
							<div class="label dynamic px-1 py-1" style="width:230px;height:21px">
								<span class="item visible">{{{indicators.stakedTokens.increments.day}}} ETH in the last day</span>
								<span class="item hidden">{{{indicators.stakedTokens.increments.week}}} ETH in the last week</span>
								<span class="item hidden">{{{indicators.stakedTokens.increments.month}}} ETH in the last month</span>
								<span class="item hidden">{{{indicators.stakedTokens.increments.year}}} ETH in the last year</span>
							</div>
						</div>
						<canvas id="stakedbalance_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
							<span class="black-line">Staked ETH</span>
							<span class="balance-bar">Daily change</span>
						</div>
					</a>
					<a href="/charts/ethereum-staking-tvl" class="chart" style="position: relative;">
						<div class="header">
							<h2 class="title">{{{indicators.tvl.value_hr}}} locked in ETH staking</h2>
						</div>
						<canvas id="tvlbalance_chart" name="lazy-canvas"></canvas>
						<div class="chart-legend">
							<span class="black-line">Locked ETH</span>
							<span class="balance-bar">Daily change</span>
						</div>
					</a>
				</div>
			</div>
	</section>

	<section class="separator-horizontal separator-after mpadding">
		<div class="grid-leftpadding mt-40">
			<h2 class="title-section"><span>Participate in Ethereum staking</span> By using SAAS (Stake As a Service)</h2>
		</div>
		<div class="egrid egrid-33fr">
			<div class="grid-leftpadding">
				<h2 class="title-section">Liquid Staking</h2>
				<p style="padding-right:2rem">Stake your Ether and get a "confirmation" token in exchange that can be used as colateral.</p>
				<a href="/ethereum-staking/liquid-staking" class="btn btn-black btn-rounded">Show all</a>
			</div>
			<div class="servicetable">
				<table class="table table-scrollable">
					<thead>
						<tr>
							<th>Service</th>
							<th>Min Stake</th>
							<th>Fee</th>
							<th>Liquid Token</th>
							<th>Pool token</th>
						</tr>
					</thead>
					<tbody>
						{{#each vaultServices}}
							{{#if this.liquid_token}}
							<tr>
								<td><a href="{{this.link}}" target="_blank" rel="nofollow noopener">{{this.service}}</a></td>
								<td>{{this.min_stake}} {{this.stake_unit}}</td>
								<td>{{this.fee}}{{this.fee_note}}</td>
								<td>
									<a href="{{this.liquid_token.link}}" target="_blank" rel="nofollow noopener noreferrer">
										<img src="{{this.liquid_token.icon}}" alt="{{this.liquid_token.ticker}}" width="20px"> 
										{{this.liquid_token.ticker}}
									</a>
								</td>
								<td>{{#if this.pool_token}}
									<a href="{{this.pool_token.link}}" target="_blank" rel="nofollow noopener noreferrer">
										<img src="{{this.pool_token.icon}}" alt="{{this.pool_token.ticker}}" width="20px"> 
										{{this.pool_token.ticker}}
									</a>
									{{else}}
									{{this.pool_token}}
									{{/if}}
								</td>
							</tr>
							{{/if}}
						{{/each}}
					</tbody>
				</table>
			</div>	
		</div>
		<div class="egrid egrid-33fr mt-30">
			<div class="grid-leftpadding">
				<h2 class="title-section">Hosted validator staking</h2>
				<p style="padding-right:2rem">Launch a solo validator by locking 32 ETH into a smart contract and operate the validator on hosted server.</p>
				<a href="/ethereum-staking/validators-saas" class="btn btn-black btn-rounded">Show all</a>
			</div>
			<div class="servicetable">
				<table class="table table-scrollable">
					<thead>
						<tr>
							<th>Service</th>
							<th>Min Stake</th>
							<th>Fee</th>
						</tr>
					</thead>
					<tbody>
						{{#each hostingServices}}
							<tr>
								<td><a href="{{this.link}}" target="_blank" rel="nofollow noopener">{{this.service}}</a></td>
								<td>{{this.min_stake}} {{this.stake_unit}}</td>
								<td>{{this.fee}}{{this.fee_note}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>	
		</div>
	</section>

	<section class="mpadding">
		<div class="egrid egrid-2 gap-6">
			<div class="grid-leftpadding sticky">
				<div class="title-section mt-40">
					<h2><span>Get Extra revenue</span> by operating own node</h2>
					<p>Pay no fees to anyone, instead get the fees from the others.</p>
				</div>
				<ul>
					<li>operate various staking services simultaneously within a single staking server</li>
					<li>perform staking from node at home as well as from a server house or cloud</li>
					<li>collect single rewards or <a href="/ethereum-staking/smoothing-pools">join a smoothing pool</a></li>
				</ul>
				<div class="title-section">
					<h3 class="mt-50"><span>Boost</span> the staking node revenue</h3>
					<p class="f-normal">There's possible to use a "leverage" in a form of bonded staking as well as use restaking to maximalize staking revenue.</p>
					<ul class="flex flex-wrap gap-2 clean mt-30">
						<li>
							<a href="/bonded-validators" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								<h3>Bonded Staking</h3>
								<p class="f-normal">Leverage your stake</p>
							</a>
						</li>
						<li>
							<a href="/restaking" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								<h3>Re-Staking</h3>
								<p class="f-normal">Provide Node / Restake the liquid token</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="egrid egrid-2 servers">
				<div class="servers-option">
					<div class="servers-option_img">
						<img src="/devices/customnode.webp" alt="Cloud Node" loading="lazy">
					</div>
					<div class="servers-option_overlay">
						<div>
							<h3>Build Custom Node</h3>
							<p>Build your node</p>
						</div>
						<a href="/custom-node" class="btn btn-black btn-rounded">Build</a>
					</div>
				</div>
				<div class="servers-option separator-vertical separator-after">
					<div class="servers-option_img">
						<img src="/devices/dappnode.webp" alt="Dapp Node" loading="lazy">
					</div>
					<div class="servers-option_overlay">
						<div>
							<h3>Buy ready-to-use Node</h3>
							<p>Buy plug-n-play staking node.</p>
						</div>
						<a href="/staking-node" class="btn btn-black btn-rounded">Buy</a>
					</div>
				</div>
				<div class="servers-option">
					<div class="servers-option_img">
						<img src="/devices/cloudnode.webp" alt="Cloud Node" loading="lazy">
					</div>
					<div class="servers-option_overlay">
						<div>
							<h3>Rent Cloud Node</h3>
							<p>Rent ready-to use cloud node</p>
						</div>
						<a href="/cloud-node" class="btn btn-black btn-rounded">Rent</a>
					</div>
				</div>
				<div class="servers-option separator-vertical separator-before">
					<div class="servers-option_img">
						<img src="/devices/managed-node.webp" alt="Managed Node" loading="lazy" style="filter: opacity(0.5);">
					</div>
					<div class="servers-option_overlay">
						<div>
							<h3>Order Managed Node</h3>
							<p>Order a managed node for placement in your home or in the cloud</p>
						</div>
						<a href="/managed-node" class="btn btn-black btn-rounded">Order</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="egrid egrid-33fr guidesbar">
				<div class="grid-leftpadding egrid egrid-2">
					<div>
						<div class="title-section">
							<h2><span>Solo vs <a href="/bonded-validators">bonded</a></span> validators</h2>
						</div>
					</div>
				</div>
				<div>
					<table class="mt-30">
						<thead>
							<tr>
								<th colspan="2" class="text-center">Option</th>
								<th>ETH bond</th>
								<th>ETH matched</th>
								<th>Non-ETH bond</th>
								<th>Fee %</th>
								<th>Note</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan="2" class="text-center">Solo</th>
								<td>32</td>
								<td>0</td>
								<td>None</td>
								<td>None</td>
								<td>No bond</td>
							</tr>
							<tr>
								<td rowspan="3" style="vertical-align: middle;"><a href="/bonded-validators">Bonded</a></td>
								<th>Lido</th>
								<td>2</td>
								<td>32</td>
								<td>None</td>
								<td>8% out of 10% total</td>
								<td>Bond provided in stETH which also accrues rewards</td>
							</tr>
							<tr>
								<th>Rocketpool</th>
								<td>8</td>
								<td>24</td>
								<td>2.4 ETH worth of RPL</td>
								<td>14% out of 14% total</td>
								<td>8% APR on RPL staked</td>
							</tr>
							<tr>
								<th>Stader</th>
								<td>4</td>
								<td>28</td>
								<td>0,4 ETH worth of SD</td>
								<td>6% out of 10% total</td>
								<td>7.97% APR on SD staked</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="egrid egrid-2 guidesbar">
			<div class="grid-leftpadding egrid egrid-2">
				<div>
					<div class="title-section">
						<h2>Interactive single-page <span>staking guides</span></h2>
						<p>Build your own custom node from the scratch with our interactive step by step guides.</p>
					</div>
					<a href="/ethereum-staking/schema" target="_blank" class="btn btn-black btn-rounded">Staking schema</a>
				</div>
				<a href="/ethereum-staking/full-guide" class="btn center box">Operate Execution and consensus layer</a>
			</div>
			<div class="egrid egrid-2">
				<a href="/ethereum-staking/full-guide/solo" class="center text-center box solo">
					<div>
						<img src="/logo/ethereum.svg" alt="Ethereum logo" style="width:40px;">
						<h5>Solo Staking node</h5>
					</div>
				</a>
				<a href="/ethereum-staking/full-guide/rocketpool" class="center text-center box solo">
					<div>
						<img src="/logo/rocketpool.webp" alt="" style="width:40px;">
						<h5>Rocketpool Staking node</h5>
					</div>
				</a>
				<a href="/ethereum-staking/full-guide/stakewise" class="center text-center box solo">
					<div>
						<img src="/logo/stakewise.svg" alt="" style="width:40px;">
						<h5>Stakewise Staking node</h5>
					</div>
				</a>
				<a href="/ethereum-staking/full-guide/lido" class="center text-center box solo">
					<div>
						<img src="/logo/lido.png" alt="" style="width:40px;">
						<h5>Lido Staking node</h5>
					</div>
				</a>
			</div>
		</div>

		<div class="egrid egrid-25fr guidesbar gap-6 mb-80">
			<div class="grid-leftpadding">
				<div>
					<div class="title-section" style="margin-top:0">
						<h2>Client-based interactive <span> guides</span></h2>
						<p>Get help with installation, updates, maintanance and issue-solving for staking clients.</p>
					</div>
					<a href="/ethereum-staking/clients" target="_blank" class="btn btn-black btn-rounded">Ethereum clients overview</a>
				</div>
			</div>
			<div style="margin-right:1.5rem">
				<div class="egrid egrid-6">
					<h3>Execution clients</h3>
					<a href="/nethermind" class="btn center box">Nethermind</a> <a href="/erigon" class="btn center box">Erigon</a> <a href="/geth" class="btn center box">Geth</a> <a href="/reth" class="btn center box">Reth</a> <a href="/besu" class="btn center box">Besu</a>
				</div>
				<div class="egrid egrid-6">
					<h3>Consensus clients</h3>
					<a href="/lighthouse" class="btn center box">Lighthouse</a> <a href="/lodestar" class="btn center box">Lodestar</a> <a href="/teku" class="btn center box">Teku</a> <a href="/prysm" class="btn center box">Prysm</a>
					</div>
				<div class="egrid egrid-6">
					<div>
						<h3 class="mb-0">MEV clients</h3>
						(<a href="/ethereum-staking/mev-relay-list">MEV Relayes</a>)
					</div>
					<a href="/mev-boost" class="btn center box">MevBoost</a>
				</div>
			</div>
		</div>
	</section>

	<section class="grid">
		<div style="background:black;color:white;border-radius:1rem;padding:2rem 2rem 4rem 2rem">
			<h2>Ethereum staking <span style="color:#00ca72">Emergency guide</span></h2>
			<div>
				<p><strong>Did something go wrong during Ethereum staking?</strong> Stay calm and open our emergency guide, which will walk you through the situation—from analyzing the issue to choosing the best possible steps to resolve it.</p>
				<a class="btn btn-rounded" style="background:white" href="/ethereum-staking/emergency"><strong>Ethereum staking Emergency guide</strong></a>
			</div>
		</div>
	</section>

	<section class="mt-60 separator-horizontal separator-before">
		<div class="grid">
			<br>
			<h2 class="mt-20">Airdrop Monitor</h2>
			<p>There has been associated airdrops adding extra revenue of validating. </p>
		</div>
	</section>

{{> scripts/dynamic-label}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js"></script>
<script>var ethStoreData = {{{ethStoreData}}}, beaconchainData = {{{beaconData}}}, etherchainData = {{{chainData}}}, chartsUIconfig = {{{chartsUIconfig}}};</script>
<script type="text/javascript" src="/js/chart-presenter.js"></script>
{{!--<script type="text/javascript" src="/js/charts/eth-overview.js"></script>--}}
<script type="text/javascript" src="/js/charts/eth-stakingapr.js"></script>
<script type="text/javascript" src="/js/charts/validators.js"></script>
<script type="text/javascript" src="/js/charts/supply.js"></script>
<script type="text/javascript" src="/js/charts/staked-balance.js"></script>
<script type="text/javascript" src="/js/charts/tvl-balance.js"></script>
<script type="text/javascript" src="/js/charts/marketcap.js"></script>
<script type="text/javascript" src="/js/charts/transactions.js"></script>
<script type="text/javascript" src="/js/charts/blocks.js"></script>
<script>charts.ActivateLazyLoad();</script>
</main>
{{> footer}}
{{> scripts/tabselector}}
</body>