<body id="body" data-amp-auto-lightbox-disable>
{{> header_amp}}
<main class="mb-60 grid">
	<section class="cover egrid">
		<div class="mt-60 mb-40">
			<ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/guides"><span property="name">Guides</span></a>
					<meta property="position" content="2">
				</li>
			</ul>
			<h1 class="cover-title">Staking Guides</h1>
		</div>
	</section>


	<h2>Chain-based guides</h2>
	<div class="egrid egrid-2">
		<a href="/ethereum-staking/full-guide" class="btn box" style="display:block;">
			<amp-img
			alt="Ethereum logo"
			src="/img/icons/ethereum.png"
			width="40"
			height="40"
			layout="fixed"
			>
			</amp-img>
			<div>
				<span>One-page interactive <strong>Ethereum staking guide</strong></span>
			</div>
		</a>
		<a href="/gnosis-staking/full-guide" class="btn box" style="display:block;">
			<amp-img
			alt="Gnosis logo"
			src="/img/icons/gnosis.png"
			width="40"
			height="40"
			layout="fixed"
			>
			</amp-img>
			<div>
				<span>One-page interactive <strong>Gnosis staking guide</strong></span>
			</div>
		</a>
	</div>
	
	<h2>Client-based guides</h2>
	<h3>Execution clients</h3>
	<div class="egrid egrid-3">
		{{#each executionClients}}
		<div class="box center">
			<a href="/{{this.ilink}}"><h4>{{this.name}}</h4></a> 
			{{!--<div><a href="/{{this.ilink}}/install" class="btn btn-black btn-rounded">Install</a></div> 
			<div><a href="/{{this.ilink}}/update" class="btn btn-black btn-rounded">Update</a></div>--}}
		</div>
		{{/each}}
	</div>

	<h3>Consensus clients</h3>
	<div class="egrid egrid-3">
		{{#each consensusClients}}
			<div class="btn center box">
				<a href="/{{this.ilink}}"><h4>{{this.name}}</h4></a>
			</div>
		{{/each}}
	</div>

	<h3>Mev clients</h3>
	<div class="egrid egrid-3">
		{{#each mevClients}}
			<div class="btn center box">
				<a href="/{{this.ilink}}"><h4>{{this.name}}</h4></a>
			</div>
		{{/each}}
	</div>
	
	<section class="py-6 separator-horizontal separator-after">
		<h3>Service-based guides</h3>
		<div class="egrid egrid-3">
			{{#each serviceClients}}
				<div class="btn center box">
					<a href="/{{this.ilink}}"><h4>{{this.name}}</h4></a>
				</div>
			{{/each}}
			<div class="btn center box">
				<a href="/ethereum-staking/full-guide/lido"><h4>Lido</h4></a>
			</div>
		</div>
	</section>
	
	<h3 class="mt-30">Ethdo guides</h3>
	<div class="egrid egrid-3">
		<div class="btn center box">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/ethdo/presigned-exit-keys" target="_blank"><h4>Generate and use pre-signed exit keys</h4></a>
		</div>
	</div>
</main>
{{> footer_amp}}
</body>