<body id="body" data-amp-auto-lightbox-disable>
{{> header}}
<main>
	<section class="cover">
		<div class="cover-top">
			<div class="cover-main grid egrid egrid-2">
				<div class="cover-main_left separator-vertical separator-after">
					<div class="cover-main_left-content title-page">
						<h1 class="title">{{chainName}} staking news</h1>
					</div>
				</div>
				<div class="cover-main_right">
					<div class="cover-main_right-news">
						<div class="tabselector decent">
							<nav class="egrid egrid-4">
								<span>News filtration:</span>
								<button class="tab selected" data-tabpanel="1" type="button">All</button>
								<button class="tab" data-tabpanel="2" type="button">Fundamentals</button>
								<button class="tab" data-tabpanel="3" type="button">Clients</button>
							</nav>
							<div class="tabpanel selected">
								<ul class="mt-10">
									{{#each newsfeed.all}}
									<li>
										<a href="{{this.a}}" target="_blank" rel="nofollow noopener noreferrer"><img src="" alt="">{{{this.m}}}</a> <span class="date" title="{{{this.ht}}}">{{{this.ta}}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
							<div class="tabpanel">
								<ul class="mt-10">
									{{#each newsfeed.fundamental}}
									<li>
										<a href="{{this.a}}" target="_blank" rel="nofollow noopener noreferrer"><img src="/logo/{{this.img}}.svg" alt="{{this.img}} logo" width="25" height="25"> {{{this.m}}}</a> <span class="date" title="{{{this.ht}}}">{{{this.ta}}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
							<div class="tabpanel">
								<ul class="mt-10">
									{{#each newsfeed.clients}}
									<li>
										<a href="{{this.a}}" target="_blank" rel="nofollow noopener noreferrer">{{{this.m}}}</a> <span class="date" title="{{{this.ht}}}">{{{this.ta}}}</span>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						{{!--<a href="" class="btn btn-black btn-rounded">View more news</a>--}}
					</div>
				</div>
			</div>
		</div>
</main>
{{> footer}}
{{> scripts/tabselector}}
</body>