<body id="body" data-amp-auto-lightbox-disable>
{{> header}}
<main>
	<div class="mt-60 mb-40">
		<h1 class="grid title">{{chainName}} Liquid staking</h1>
	</div>
	
	<section>
		<table>
					<thead>
						<tr>
							<th>Service</th>
							<th>Min Stake</th>
							<th>Fee</th>
							<th>Validator key owner</th>
							<th>Withdrawal wallet owner</th>
							<th>No Supermajority client</th>
							<th>Liquid token</th>
							<th>Pool token</th>
							<th>3rd Party Software</th>
						</tr>
					</thead>
					<tbody>
						{{#each vaultServices}}
							<tr>
								<td><a href="{{this.link}}" target="_blank" rel="nofollow noopener">{{this.service}}</a></td>
								<td>{{this.min_stake}} {{this.stake_unit}}</td>
								<td>{{this.fee}}{{this.fee_note}}</td>
								<td>{{this.key_owner}}</td>
								<td>{{this.withdrawals_key_owner}}</td>
								<td>{{this.no_supermajority_client}}</td>
								<td>
									{{#if this.liquid_token}}
									<a href="{{this.liquid_token.link}}" target="_blank" rel="nofollow noopener noreferrer">
										<img src="{{this.liquid_token.icon}}" alt="{{this.liquid_token.ticker}}" width="20px"> 
										{{this.liquid_token.ticker}}
									</a>
									{{else}}
									{{this.liquid_token}}
									{{/if}}
								</td>
								<td>
									{{#if this.pool_token}}
									<a href="{{this.pool_token.link}}" target="_blank" rel="nofollow noopener noreferrer">
										<img src="{{this.pool_token.icon}}" alt="{{this.pool_token.ticker}}" width="20px"> 
										{{this.pool_token.ticker}}
									</a>
									{{else}}
									{{this.pool_token}}
									{{/if}}
								</td>
								<td>{{this.3rd_party_software}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
	</section>

</main>
{{> footer_amp}}
</body>