{{> header}}
<main>
	<section class="grid">
        <ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}"><span property="name">{{chainName}} staking</span></a>
					<meta property="position" content="2">
				</li>
                <li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}/deposit-contract-balance"><span property="name">Deposit contract balance</span></a>
					<meta property="position" content="3">
				</li>
			</ul>
		<h1 class="title mt-0">{{chainName}} staking - deposit contract balance</h1>
        <p>GNO rewards to validators are not paid through a emission of new token, instead, they are paid by GnosisDAO.</p>
        <p>As the <a href="https://gnosisscan.io/address/0x0b98057ea310f4d31f2a452b414647007d1645d9" target="_blank" rel="nofollow noopener noreferrer">deposit contract</a> processing deposits as wel las withdrawals (including rewards), with each reward (claimed as well as unclaimed), an internal debt is being generated. This debt should be covered by Gnosis DAO to keep all validator funds covered.</p>
	</section>

    <section class="grid">
        <h1>State of Gnosis deposit contract balance for epoch <a href="https://gnosis.beaconcha.in/epoch/{{depositContract.lastState.epoch}}" target="_blank" rel="nofollow noopener noreferrer">{{depositContract.lastState.epoch}}</a></h1>
		<div class="egrid egrid-4">
            <div>
                <h2>GNO holded by Validators on Beaconchain</h2>
                <div>{{formatNumber depositContract.lastState.gno_validators '0,0'}}</div>
            </div>
            <div>
                <h2>Unclaimed GNO by Validators</h2>
                <div>{{formatNumber depositContract.lastState.gno_unclaimed '0,0'}}</div>
            </div>
            <div>
                <h2>GNO in deposit contract</h2>
                <div>{{formatNumber depositContract.lastState.gno_contract '0,0'}}</div>
            </div>
            <div>
                <h2>GNO balance</h2>
                <div>{{formatNumber depositContract.lastState.gno_balance '0,0'}}</div>
                <span>{{formatNumber depositContract.lastState.gno_24h_difference '0,0'}} Last 24 hours</span>
            </div>
        </div>
	</section>

    <section class="grid">
        <h2>Historical course of deposit contract balance</h2>
        <canvas id="depositcontractbalance_chart" name="lazy-canvas"></canvas>
	</section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js"></script>
    <script>var beaconchain_distribution = {{{depositContract.beaconchain_distribution}}}, depositContract = {{{depositContract.chart}}}, unclaimedgno_distribution = {{{depositContract.unclaimedgno_distribution}}}, chartsUIconfig = {{{chartsUIconfig}}};</script>
    <script type="text/javascript" src="/js/chart-presenter.js"></script>
    
    <script type="text/javascript" src="/js/charts/depositcontractbalance.js"></script>
    <script>charts.ActivateLazyLoad();</script>
</main>
{{> footer}}
{{> scripts/tabselector}}