<aside class="grey dataloader">
	<div class="chapter">
        <div class="content">
            <div class="egrid egrid-2 center-vertical">
                <div>
                    <div class="user-authentized hide">
                        <div>
                            <label><strong>Server Selection </strong></label>
                            <select class="account-servers"></select>
                        </div>
                        <div>
                            <label for="account-servers-instances"><strong>Instance Selection </strong></label>
                            <select id="account-servers-instances"></select>
                            <div class="mt-20">
                                <a id="account-server-instance-link" href="#" class="btn btn-black btn-rounded" target="_blank">Edit saved data</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-guest hide">
                        <h2 class="mt-20">Load data for your Server<br>and instance</h2>
                        <a href="https://stakers.space/authentization?r=" class="btn btn-black btn-rounded">Sign In</a>
                    </div>
                </div>
                <div>
                    <ul>
                        <li><label>Instance ID</label>: <input type="number" value="1" class="interactive-element instance_pid" data-class="instance_pid"{{!-- data-client="{{client}}"--}}></li>
                        <li><label>Fee Recipient wallet</label>: <input type="text" value="0xXXXX" class="interactive-element instance_frw" data-class="instance_frw"{{!-- data-client="{{client}}"--}}></li>
                        <li>Validator Instance service config
                            <ul>
                                <li><label>Name</label>: <input type="text" value="{{servicePrefix}}{{client}}-vi1" class="interactive-element instance_sn" data-class="instance_sn"{{!-- data-client="{{client}}"--}}></li>
                                <li><label>User</label>:  <input type="text" value="{{servicePrefix}}{{client}}-vi1" class="interactive-element instance_su" data-class="instance_su"{{!-- data-client="{{client}}"--}}></li>
                                <li><label>Data</label>: 
                                    <input type="text" value="/var/lib{{slashChain}}/{{client}}/vi1" class="interactive-element instance_dp" data-class="instance_dp"{{!-- data-client="{{client}}"--}}>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
    /*
        Update Instance Numbers based on manual change
    */
    var instance_id_elms = document.getElementsByClassName("instance_pid");
    for(const elm of instance_id_elms){ 
        elm.onchange = function(e){
            const targetedInstanceId = Number(e.target.value);
            console.log("On instance_pid change | instance_pid:", targetedInstanceId);
            //serverData.instances[targetedInstanceId - 1];
            console.log("targetedInstanceId",targetedInstanceId);
            if(!serverData) serverData = {instances: []};

            serverData.instances[targetedInstanceId] = {
                vi_pid: targetedInstanceId,
                vi_sname: replaceNumberAtEnd(document.getElementsByClassName("instance_sn")[0].value, targetedInstanceId),
                vi_suser: replaceNumberAtEnd(document.getElementsByClassName("instance_sn")[0].value, targetedInstanceId),
                vi_sdata: replaceNumberAtEnd(document.getElementsByClassName("instance_dp")[0].value, targetedInstanceId),
                fee_recipient: document.getElementsByClassName("instance_frw")[0].value
            }
            
            // update data keystores directory
            const datakeystoresElms = document.querySelectorAll('[data-class="ddkeys-path"]');
            datakeystoresElms.forEach(element => {
                element.value = replaceNumberAtEnd(element.value, targetedInstanceId);
            });

            LoadInstanceDataToDocs({target: {value: targetedInstanceId}});
        }; 
    }

    function replaceNumberAtEnd(str, newNumber) {
        return str.replace(/\d+$/, newNumber);
    }

    function LoadInstanceDataToDocs(e){
        if(!e) { e = {target: {value: 0}}; }
        const instanceData = serverData.instances[Number(e.target.value)];
        console.log("LoadInstanceDataToDocs", serverData, e.target.value, instanceData);
        if(!instanceData) return;
        for(const elm of document.getElementsByClassName("instance_pid")){ elm.value = instanceData.vi_pid; elm.innerHTML = instanceData.vi_pid; }
         for(const elm of document.getElementsByClassName("instance_sn")){ elm.value = instanceData.vi_sname; elm.innerHTML = instanceData.vi_sname; }
        for(const elm of document.getElementsByClassName("instance_su")){ elm.value = instanceData.vi_suser; elm.innerHTML = instanceData.vi_suser; }
        for(const elm of document.getElementsByClassName("instance_dp")){ elm.value = instanceData.vi_sdata; elm.innerHTML = instanceData.vi_sdata; }
        for(const elm of document.getElementsByClassName("instance_frw")){ elm.value = instanceData.fee_recipient; }
	}


    function UpdateInstanceSetup(){
        const selectInstanceElement = document.getElementById('account-servers-instances');
		selectInstanceElement.innerHTML = "";
		for(let i = 0; i < serverData.instances.length; i++){
            const instance = serverData.instances[i];
			const ioption = document.createElement('option');
			ioption.value = i;
			ioption.text = instance.instance; 
			selectInstanceElement.appendChild(ioption);
		}
		selectInstanceElement.onchange = LoadInstanceDataToDocs;
    }
    {{#if client}}
        (function(){
            const clientNamePage = "{{client}}";
            const sn =  clientNamePage+"-vi1";
            const dp = `/var/lib/${clientNamePage}/vi1`
            for(const elm of document.getElementsByClassName("instance_sn")){
                //console.log("instance_sn", elm, "{{client}}");
                if(elm.dataset.client === "{{client}}") {
                    elm.innerHTML = sn; elm.value = sn; 
                }
            }
            for(const elm of document.getElementsByClassName("instance_su")){ 
                if(elm.dataset.client === "{{client}}"){ 
                    elm.innerHTML = sn; elm.value = sn; 
                }
            }
            for(const elm of document.getElementsByClassName("instance_dp")){ 
                if(elm.dataset.client === "{{client}}") {
                    elm.innerHTML = dp; elm.value = dp;
                }
            }
        })();
    {{/if}}
    </script>
</aside>