<!doctype html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<meta name="description" property="og:description" content="{{ metaDescription }}">
		<link rel="canonical" href="{{canonicalUrl}}">
		
		<link rel="preload" as="font" type="font/woff2" href="/fonts/poppins-v15-latin-ext_latin_devanagari-regular.woff2" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href="/fonts/poppins-v15-latin-ext_latin_devanagari-600.woff2" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href="/fonts/poppins-v15-latin-ext_latin_devanagari-800.woff2" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/woff2" href="/fonts/poppins-v15-latin-ext_latin_devanagari-700.woff2" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/{{cssFile}}.css?{{timestamp}}">
		
		{{{ js }}}
		{{!<link as="script" rel="preload" href="https://cdn.ampproject.org/v0/amp-analytics-0.1.js">
		<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>}}

		{{!--<link rel="canonical" href="{{ pageUrl }}">
{{#if alternateUrl}}
<link rel="alternate" hreflang="{{ alternateLang }}" href="{{ alternateUrl }}">
<link rel="alternate" hreflang="{{ lang }}" href="{{ pageUrl }}">
{{/if}}--}}
<title>{{ title }}</title>
<link rel="shortcut icon" type="image/png" href="/img/favicon-32x32.png">

</head>
<body id="body">
{{{body}}}
</body>
</html>