{{> header}}
	<section>
		<div class="max-w-6xl mx-auto px-6 py-16">
			<ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}"><span property="name">{{chainName}} staking</span></a>
					<meta property="position" content="2">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}/staking-hardware"><span property="name">Hardware</span></a>
					<meta property="position" content="3">
				</li>
			</ul>

			<h1 class="text-4xl md:text-5xl font-extrabold text-gray-900 leading-tight mb-4">
				Choosing Hardware, OS & Location
				<span class="block mt-1 text-green-600">for {{chainName}} staking</span>
			</h1>

			<p class="text-lg md:text-xl text-gray-700 leading-relaxed max-w-3xl">
				<strong>
				Complete guide to choose proper hardware, operating system and placement 
				for a staking node allowing staking on multiple chains.
				</strong>
				This page is part of a 
				<a href="/{{chainUrl}}/full-guide" class="text-blue-600 hover:underline font-medium">
				complete {{chainName}} staking guide
				</a>.
			</p>
		</div>
	</section>

	<div class="grid grid-cols-1 xl:grid-cols-[minmax(220px,1fr)_minmax(0,6fr)_minmax(220px,1fr)] gap-6">
		<!-- Left panel -->
		<aside class="order-1 xl:order-none xl:sticky xl:top-8 self-start lg:mt-14">
			<nav class="border-l-4 border-gray-500 pl-4 py-3">
				<p class="font-semibold mb-2">Navigation</p>
				<ol class="space-y-1 list-decimal space-y-2 pl-6">
					<li><a href="#hardware" class="hover:underline">Hardware</a></li>
					<li><a href="#hardware-placement" class="hover:underline">Location</a></li>
					<li><a href="#os" class="hover:underline">OS</a></li>
				</ol>
			</nav>
		</aside>

		<main class="order-3 xl:order-none prose prose-lg max-w-none;">
			<section id="hardware" class="max-w-6xl my-1 mx-auto border border-gray-200 lg:rounded-xl p-6 py-10 shadow-sm">
				<!-- Left Caption number -->
				<div class="flex items-start mb-12">
					<div class="text-gray-300 font-bold text-7xl leading-none mr-6 select-none">1</div>
					<div>
						<h2 class="text-3xl font-semibold mb-4">Staking hardware</h2>
						<p class="text-gray-700">
							Staking can be performed continuously on any type of computer device, as long as the hardware meets the
							<a href="#hw-requirements" class="text-blue-600 hover:underline">required specifications</a>.
							Such device can be called a staking node.
						</p>
					</div>
				</div>

				<!-- Options -->
				<h3 class="text-2xl font-semibold mb-6">Options for running a staking node</h3>
				<ol class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
					<li class="relative p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200">
						<div class="absolute top-4 left-4 text-red-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">1</div>
						<div class="relative z-10">
							<h4 class="text-xl font-semibold mb-2">Node on your PC</h4>
							<p class="text-gray-700 text-sm">
								Theoretically, a staking node can be launched on a PC or laptop you use for daily work. However, this
								<strong class="text-red-600">option is not recommended</strong> due to security issues.
							</p>
						</div>
					</li>
					<li class="relative p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200">
						<div class="absolute top-4 left-4 text-green-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">2</div>
						<div class="relative z-10">
							<h4 class="text-xl font-medium mb-2">Dedicated PC for staking</h4>
							<p class="text-gray-700">
							<strong class="text-green-700">The most affordable secure way of running a staking node.</strong>
								You can either use some older PC or buy a new one. There is possible to run UI-based Operating system as well as server-based operating system,
								<a href="#os" class="text-blue-600 hover:underline">See operating systems section</a>.
							</p>
						</div>
					</li>
					<li class="relative p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200">
						<div class="absolute top-4 left-4 text-gray-200 text-[80px] font-extrabold leading-none select-none pointer-events-none">3</div>
						<div class="relative z-10">
							<h4 class="text-xl font-medium mb-2">Running on a server device</h4>
							<p class="text-gray-700">Running a node on dedicated server hardware.</p>
						</div>
					</li>
				</ol>

				<!-- HW requirements -->
				<h3 id="hw-requirements" class="text-2xl font-semibold mt-12">Hardware requirements</h3>
				<ul class="grid gap-8 md:grid-cols-2">
					<!-- Minimum -->
					<li class="p-6">
						<h4 class="text-xl font-medium mb-4 text-blue-700">Minimum Requirements</h4>
						<ul class="list-disc list-inside text-gray-700 space-y-1 pl-4">
							<li>Modern multi-core CPU</li>
							<li>At least 32GB RAM</li>
							<li>NVMe SSD of at least 2TB</li>
							<li>Stable internet connection of at least 15 Mbps</li>
						</ul>
					</li>

					<!-- Recommended -->
					<li class="p-6">
						<h4 class="text-xl font-medium mb-4 text-green-700">Recommended Setup</h4>
						<ul class="list-disc list-inside text-gray-700 space-y-1 pl-4">
							<li>Latest generation multi-core CPU (e.g. Intel i5)</li>
							<li>64GB high-speed RAM</li>
							<li>High-end NVMe SSD (e.g. 2TB)</li>
							<li>Wired internet connection 30MBPs+</li>
						</ul>
					</li>
				</ul>

				<!-- Sample Hardware -->
				<div class="bg-gray-100 rounded-xl p-8 shadow-sm mt-12">
					<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-stretch">
						<div>
							<h3 class="text-3xl font-semibold mb-8">
							Staking Node Sample – Installing Ubuntu Server on Asus NUC
							</h3>
							<h4 class="text-xl font-medium mb-4">Hardware configuration</h4>
							<ul class="list-disc list-inside text-gray-700 space-y-2 pl-4">
							<li>ASUS NUC 13 Pro NUC13ANHI5 Tall (Intel Core i5, tall for better cooling)</li>
							<li>4 TB SSD NVMe (Kingston SSD KC3000 4TB)</li>
							<li>64 GB RAM (Kingston Fury Impact DDR4 2×32GB 3200MHz)</li>
							</ul>
						</div>

						<div class="overflow-hidden rounded-lg shadow-md h-full">
							<iframe title="NUC Assembling" loading="lazy" class="w-full h-[350px] lg:h-full" src="https://www.youtube-nocookie.com/embed/L_JHtu5VoRo?si=LDRN9-hm1Lmjrq7Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</section>

			<section id="hardware-placement" class="max-w-6xl my-16 mx-auto border border-gray-200 lg:rounded-xl p-6 py-10 shadow-sm">
				<div class="flex items-start mb-12">
					<div class="text-gray-300 font-bold text-7xl leading-none mr-6 select-none">2</div>
					<div>
						<h2 class="text-3xl font-semibold mb-4">Staking node placement</h2>
						<p class="text-gray-700">
							<strong>Staking node can be placed at any location that meets the following criteria:</strong>
						</p>
						<ul class="list-disc list-inside text-gray-700 space-y-1 pl-4 mt-2">
							<li>Stable electrical network</li>
							<li>Stable and reliable internet connection of at least 15 Mbps (up/down) without strict data limits</li>
							<li>Reasonable thermal and dusty conditions</li>
							<li>Sufficient physical security</li>
						</ul>
					</div>
				</div>
				
				<h3 class="text-2xl font-semibold mb-6">Options for node placement</h3>
				<p class="mb-4 text-gray-700 space-y-1">Technically, any computer can be accessed and controlled locally through a directly connected monitor and keyboard as well as remotely through the SSH. From this point of view, based on your options and preferences you can choose from following:</p>
				<ol class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
					<li class="relative p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200">
					<div class="absolute top-4 left-4 text-blue-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">1</div>
					<div class="relative z-10">
						<h4 class="text-xl font-semibold">Home / Office</h4>
						<p class="text-gray-700 text-sm">
						The simplest option: connect your staking node to electricity and internet in your own home, office, or any controlled space.
						</p>
					</div>
					</li>

					<li class="relative p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200">
						<div class="absolute top-4 left-4 text-yellow-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">2</div>
						<div class="relative z-10">
							<h4 class="text-xl font-semibold mb-2">Server House</h4>
							<p class="text-gray-700 text-sm">
							Host your node in a server house with internet and power redundancy. You manage your own hardware, placed remotely.
							</p>
						</div>
					</li>

					<li class="relative p-6 rounded-xl border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200">
						<div class="absolute top-4 left-4 text-green-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">3</div>
						<div class="relative z-10">
							<h4 class="text-xl font-semibold mb-2">Cloud</h4>
							<p class="text-gray-700 text-sm">
							<a href="/cloud-node" class="underline">Rent cloud hardware</a> and launch your staking node remotely. Convenient and fast to deploy, but with monthly fees.
							</p>
						</div>
					</li>
				</ol>

				<p class="mt-8 text-gray-700">
					The real location of your node can be hidden using <a href="/vpn" target="_blank" class="text-blue-600 hover:underline">VPN services</a>. 
					Electricity costs for staking are usually low when choosing energy-efficient devices.
				</p>
			</section>

			<section id="os" class="max-w-6xl my-16 mx-auto border border-gray-200 lg:rounded-xl p-6 py-10 shadow-sm">
				<div class="flex items-start mb-12">
					<div class="text-gray-300 font-bold text-7xl leading-none mr-6 select-none">3</div>
					<div>
					<h2 class="text-3xl font-semibold mb-4">Operating System</h2>
					<p class="text-gray-700">
						Staking can be operated on numerous Operating Systems supported by staking clients. <br>
						<strong>Recommended OS for Stakers.space staking guides is Ubuntu</strong>, but you can also use other systems such as Microsoft Windows.
					</p>
					</div>
				</div>

				<h3 class="text-2xl font-semibold mb-6">Ways to install the OS</h3>
				<div class="tabselector">
					<nav class="grid gap-2 md:grid-cols-2">
						<button class="tab selected relative p-6 border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200 cursor-pointer" data-tabpanel="1" type="button">
							<div class="absolute top-4 left-4 text-indigo-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">1</div>
							<div class="relative z-10">
								<h4 class="text-xl font-semibold mb-2">Install on local hardware</h4>
								<p class="text-gray-700 text-sm">
								Use bootable USB with Ubuntu Server. This method gives you full control and transparency over your staking node.
								</p>
							</div>
						</button>
							<button class="tab relative p-6 border border-gray-200 shadow-sm hover:shadow-md transition-all duration-200 cursor-pointer" data-tabpanel="2" type="button">
								<div class="absolute top-4 left-4 text-indigo-100 text-[80px] font-extrabold leading-none select-none pointer-events-none">2</div>
								<div class="relative z-10">
									<h4 class="text-xl font-semibold mb-2">Install on cloud instance</h4>
									<p class="text-gray-700 text-sm">
									Choose pre-installed Ubuntu 24.04 LTS on cloud platform and configure user permissions. Great for remote deployment.
									</p>
								</div>
							</button>
						</nav>

						<div class="tabpanel selected relative">
							<h4 class="mt-0 text-xl font-semibold mb-4">Get Ubuntu Server OS</h4>
							<p class="text-gray-700 mb-4">Staking is possible from Ubuntu Desktop as well as Ubuntu Server OS. While Ubuntu Desktop comes with a standard User Interface (UI) and may seem to be easier to manage, the Ubuntu Server is usually the better choice as the UI is usually useless as you work with a terminal. Absence of that UI tools associated with Server distribution may save computional resources.</p>
							 <ol class="list-decimal space-y-2 pl-6">
								<li>
									Download <code>Ubuntu 24.04 LTS Server</code> from
									<a href="https://ubuntu.com/download/server" class="text-blue-600 hover:underline" target="_blank">https://ubuntu.com/download/server</a>
								</li>
								<li>
									Create a bootable USB Stick with the Ubuntu Server distribution image
								</li>
							</ol>
							<h4 class="text-xl font-semibold mt-8 mb-4">Install Ubuntu Server OS to your node</h4>
							<ol class="list-decimal space-y-6 pl-6">
								<li>
									Connect your node to monitor, keyboard, electricity and internet. Stick Ubuntu bootable flash disk to your node.
									<img src="/img/pages/hw-preparation/nuc-connection-start.webp" alt="NUC - connected devices" class="w-full rounded-lg shadow-md my-4" />
								</li>
								<li>Turn on the PC while pressing F11 key to <strong>load boot selection</strong>. If loaded, select your USB stick</li>
								<li>Install The Ubuntu Server
									<div class="carousel relative overflow-hidden w-full rounded-lg shadow-md mt-4" data-index="0">
										<ol class="slides flex transition-transform duration-500 ease-in-out">
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/install-select.webp" class="w-full" alt="Ubuntu installation screen 1" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 1/17: <strong>Select "Try or Install Ubuntu Server"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/installation-load.webp" class="w-full" alt="Ubuntu installation screen 2" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 2/17: <strong>Wait for OS preparation</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/timedate.webp" class="w-full" alt="Ubuntu installation screen 3" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 3/17: <strong>Wait for timedatectl service</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/os-language.webp" class="w-full" alt="Ubuntu installation screen 4" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 4/17: <strong>Select OS language</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/installer-update.webp" class="w-full" alt="Ubuntu installation screen 5" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 5/17: <strong>Select "Update to the new installer"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/keyboard-configuration.webp" class="w-full" alt="Ubuntu installation screen 6" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 6/17: <strong>Confirm keyboard</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/installation-type.webp" class="w-full" alt="Ubuntu installation screen 7" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 7/17: <strong>Select "Ubuntu Server"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/network-configuration.webp" class="w-full" alt="Ubuntu installation screen 8" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 8/17: <strong>Confirm network by selecting "Done"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/proxy-configuration.webp" class="w-full" alt="Ubuntu installation screen 9" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 9/17: <strong>Skip proxy by pressing "Done"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/mirror-configuration.webp" class="w-full" alt="Ubuntu installation screen 10" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 10/17: <strong>Wait till mirror is completed, then press "Done"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/storage-configuration.webp" class="w-full" alt="Ubuntu installation screen 11" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 11/17: <strong>Check Storage configuration, then press "Done". Confirm the option by pressing "Continue"</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/storage-configuration-confirm.webp" class="w-full" alt="Ubuntu installation screen 12" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 12/17: <strong>Uncheck "Set up this disk as an LVM group to avoid disk fragmentation", then press "Done".</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/profile-configuration.webp" class="w-full" alt="Ubuntu installation screen 13" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 13/17: <strong>Fill identifiers. Your name may be same as username. Server name is name under which you will see the device in the network.</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/ubuntu-pro.webp" class="w-full" alt="Ubuntu installation screen 14" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 14/17: <strong>Skip "Upgrade pro" option</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/ssh-configuration.webp" class="w-full" alt="Ubuntu installation screen 15" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 15/17: <strong>You can check Install OpenSSH server option. Anyway, this may be installed later as well (see the guide).</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/server-snaps.webp" class="w-full" alt="Ubuntu installation screen 16" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 16/17: <strong>Skip snaps by pressing "Done".</strong>
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/installation-complete.webp" class="w-full" alt="Ubuntu installation screen 17" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													Step 17/17: <strong>Wait for Ubuntu server OS installation complete. Then select "Reboot Now".</strong>
												</p>
											</li>
										</ol>
										<button class="prev absolute top-1/2 left-4 -translate-y-1/2 bg-black bg-opacity-50 text-white px-3 py-2 rounded-full z-10 cursor-pointer" role="button">&larr;</button>
										<button class="next absolute top-1/2 right-4 -translate-y-1/2 bg-black bg-opacity-50 text-white px-3 py-2 rounded-full z-10 cursor-pointer" role="button">&rarr;</button>
									</div>
								</li>
								<li>Unstick flash
									<div class="carousel relative overflow-hidden w-full rounded-lg shadow-md mt-4" data-index="0">
										<ol class="slides flex transition-transform duration-500 ease-in-out">
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/umount.webp" class="w-full" alt="Unstick Flash" />
												<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
													On request, remove flash.
												</p>
											</li>
											<li class="slide min-w-full relative">
												<img src="/img/pages/hw-preparation/umount-hw.webp" class="w-full" alt="Unstick Flash" />
											</li>
										</ol>
										<button class="prev absolute top-1/2 left-4 -translate-y-1/2 bg-black bg-opacity-50 text-white px-3 py-2 rounded-full z-10 cursor-pointer" role="button">&larr;</button>
										<button class="next absolute top-1/2 right-4 -translate-y-1/2 bg-black bg-opacity-50 text-white px-3 py-2 rounded-full z-10 cursor-pointer" role="button">&rarr;</button>
									</div>
								</li>
							</ol>

							<h4 id="bios-conf" class="text-2xl font-semibold mt-12 mb-4">Set proper BIOS settings</h4>
							<ol class="list-decimal space-y-2 pl-6">
								<li>While PC loads ater restart, press <strong class="text-black">F2</strong> to load BiOS settings</li>
								<li>Set <strong class="text-black">Power delivery after failure</strong> and <strong class="text-black">cooling mode</strong></li>
								<li>Press <strong class="text-black">F10</strong> to save and exit</li>
							</ol>
							<div class="carousel relative overflow-hidden w-full rounded-lg shadow-md mt-4" data-index="0">
								<ol class="slides flex transition-transform duration-500 ease-in-out">
									<li class="slide min-w-full relative">
										<img src="/img/pages/hw-preparation/failure-power.webp" class="w-full" alt="After failure" />
										<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
											In "Power,Performance and Cooling", set "After Power Failure" to Power On. This ensure that the node will automatically start after an electricity power failure.
										</p>
									</li>
									<li class="slide min-w-full relative">
										<img src="/img/pages/hw-preparation/cooling.webp" class="w-full" alt="Cooling" />
										<p class="absolute bottom-0 left-0 right-0 text-center bg-black text-white font-light p-3 max-h-[10%]">
											Through "Secondary Power Settings" of the same section, you can customize cooling mode.
										</p>
									</li>
								</ol>
								<button class="prev absolute top-1/2 left-4 -translate-y-1/2 bg-black bg-opacity-50 text-white px-3 py-2 rounded-full z-10 cursor-pointer" role="button">&larr;</button>
								<button class="next absolute top-1/2 right-4 -translate-y-1/2 bg-black bg-opacity-50 text-white px-3 py-2 rounded-full z-10 cursor-pointer" role="button">&rarr;</button>
							</div>

							<h4 class="text-xl font-medium mt-12 mb-4">First login</h4>
							<ol class="list-decimal list-inside text-gray-700 space-y-2 pl-4">
								<li>After auto-restart, the login window appears.</li>
								<li>Enter your username and press <strong class="text-black">Enter</strong>. Then enter the password.</li>
							</ol>
							<p class="text-gray-700 mt-4">
								After successful login, proceed to the 
								<a href="/{{chainUrl}}/full-guide" class="text-blue-600 hover:underline">next step</a>.
							</p>
						</div>
						<div class="tabpanel">
							<h3 class="mt-0 text-xl font-semibold mb-4">Get Ubuntu Server on Cloud Node</h3>
							<ol class="list-decimal list-inside text-gray-700 space-y-2 pl-4">
								<li>Select a cloud instance with <code>Ubuntu 24.04 LTS Server</code> pre-installed.</li>
							</ol>

							<h4 class="text-xl font-medium mt-8 mb-2">Check your server user</h4>
							<p class="text-gray-700 mb-4">
							Cloud providers often log you in as <code>root</code> by default. For better security and management, create a dedicated user with sudo rights.
							</p>

							<ul class="list-disc list-inside text-gray-700 space-y-4 pl-4">
							<li>
								Create a new standard user and assign <code>sudo</code> rights:
								<label for="serverUser" class="block text-sm text-gray-600 mb-1">Choose your username:</label>
								<input type="text" value="myserveruser" id="serverUser" class="px-3 py-1 border border-gray-300 rounded-md text-sm font-mono text-gray-800 mb-2" />

								<pre class="bg-gray-200 p-4 overflow-x-auto text-sm border border-gray-300 rounded-md"><code>adduser <mark class="serverUser">myserveruser</mark>
usermod -aG sudo <mark class="serverUser">myserveruser</mark></code></pre>
							</li>
							<li>
								If you're logged in as <code>root</code> via SSH key, copy your SSH keys to the new user:
								<pre class="bg-gray-200 p-4 overflow-x-auto text-sm border border-gray-300 rounded-md"><code>rsync --archive --chown=<mark class="serverUser">myserveruser</mark>:<mark class="serverUser">myserveruser</mark> ~/.ssh /home/<mark class="serverUser">myserveruser</mark></code></pre>
							</li>
							</ul>
							<script>
								(function(){
									let serverUserElm = document.getElementById("serverUser");
									serverUserElm.addEventListener("change", function(){
										let elms = document.getElementsByClassName("serverUser");
										for(let elm of elms){
											elm.value = serverUserElm.value;
											elm.innerHTML = serverUserElm.value;
										}
									});
								}());
							</script>
						</div>
					</div>
			</section>

			<section id="next" class="max-w-6xl my-20 mx-auto border border-gray-200 lg:rounded-xl p-6 py-10 shadow-sm text-center">
				<div class="flex justify-center items-start mb-4">
					<h2 class="text-3xl font-semibold">Next step: Securing your server & Installing staking clients</h2>
				</div>

				<p class="text-gray-700 mb-8 max-w-2xl mx-auto">
					Now that your hardware and operating system are ready, it’s time to <strong>secure your staking node</strong> and <strong>install staking clients</strong> necessary for participation in the network.
				</p>

				<a href="/{{chainUrl}}/full-guide" class="inline-block bg-black text-white px-6 py-3 rounded-full font-semibold shadow-md hover:bg-gray-800 transition">
					Guide to Secure OS & Install Staking Clients
				</a>
			</section>
		</main>

		{{!--<!-- right panel -->
		<aside class="order-2 xl:order-none xl:sticky xl:top-8 self-start mt-14">
			<div class="bg-gray-100 rounded-lg p-4 text-sm shadow-sm">
			<p class="font-semibold mb-2">Staking Config</p>
			<ul class="space-y-1">
				<li>Chain: Ethereum</li>
				<li>OS: Ubuntu</li>
				<li>Location: Home</li>
			</ul>
			</div>
		</aside>--}}
	</div>
{{> footer_tailwind}}
{{> scripts/tabselector}}
{{> scripts/carousel}}