{{> header}}
<main class="mb-60">
	<section class="cover grid egrid">
		<div class="mt-60 mb-20">
			<ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}"><span property="name">{{chainName}} staking</span></a>
					<meta property="position" content="2">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}/full-guide"><span property="name" class="intro-label">Guide</span></a>
					<meta property="position" content="3">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}/full-guide/lido"><span property="name" class="intro-label">Lido</span></a>
					<meta property="position" content="3">
				</li>
			</ul>
			<h1 class="cover-title">Interactive guide for Ethereum staking using <span>Lido client</span> on Ubuntu OS</h1>
			<p>A guide to set Lido client for running <a href="/bonded-validators">bonded validators</a> on Ethereum Mainnet.</p>
		</div>
		<div class="disclaimer">
			<div class="disclaimer-content">
				<h3>Disclaimer</h3>
				<p>This guide is for informational purposes only. The author nor website owner does not guarantee accuracy of the information in this guide and is not responsible for any damages or losses incurred by following the guide.</p>
            </div>
		</div>
	</section>

	<div class="grid-full contents serverguide">
        <div class="content-chapters">
			<div class="sticky">
				 <nav>
					<strong>Lido guide</strong>
					<ol>
						
					</ol>
				</nav>
			</div>
		</div>
		<div class="content-header">
			{{> guides/serverSelection }}
		</div>
		<div class="content-panel">
			<div class="sticky">
				{{> guides/variablesOverview }}
			</div>
		</div>
		<div class="content-body">
			<section class="chapter mt-60" id="modules-list">
				<div class="content" style="width:100%">
					<h2><a href="https://operatorportal.lido.fi/modules" target="_blank" rel="nofollow noopener noreferrer">Lido Modules</a></h2>
					<ul>
						<li><strong><a href="https://operatorportal.lido.fi/modules/curated-module" target="_blank" rel="nofollow noopener noreferrer">Curated Module (CM)</a></strong></li>
						<li><strong><a href="https://operatorportal.lido.fi/modules/simple-dvt-module" target="_blank" rel="nofollow noopener noreferrer">Simple Distributed Validator Technology (sDVT)</a></strong> or the second mainnet Lido protocol module, provides the first opportunity for solo and community stakers to participate in running validators using the Lido protocol by leveraging the established design of the Curated Operator Module and DVT solutions provided by Obol and SSV Network.</li>
						<li><strong><a href="https://operatorportal.lido.fi/modules/community-staking-module" target="_blank" rel="nofollow noopener noreferrer">Community Staking Module (CSM)</a></strong> allowing any node operator — and especially community stakers, from solo stakers, to groups of friends, to amateur operators — to operate validators by providing an ETH-based safety deposit.</li>
					</ul>
				</div>
            </section>

			<section class="chapter mt-60" id="csm">
				<div class="content" style="width:100%">
					<h2>Lido CSM</h2>
					<p>The <a href="https://operatorportal.lido.fi/csm-getting-started" target="_blank" rel="nofollow noopener noreferrer">Community Staking Module (CSM)</a> is the <a href="https://lido.fi/" target="_blank" rel="nofollow noopener noreferrer">Lido</a> protocol’s first module with permissionless entry, allowing any node operator to operate validators by providing a token-based bond as security collateral.</p>
					<p><strong>CSM is supported for <a href="/ethereum-staking">Ethereum staking</a>.</strong></p>

					<div class="mt-20">
						<h3><a href="https://operatorportal.lido.fi/modules/community-staking-module" target="_blank" rel="nofollow noopener noreferrer">Characteristics</a></h3>
						<ul>
							<li>Bond requirement: <strong>2.4 ETH for first validator nad 1.3 ETH for each next validator</strong></li>
							<li><strong>Reward rate:</strong> 10% broken down as:
								<ul>
									<li>4% allocated to Lido treasury</li>
									<li>6% allocated to Operator's module</li>
								</ul>
							
							</li>
						</ul>

						<strong>Official implementation guide:</strong> <a href="https://operatorportal.lido.fi/modules/community-staking-module" target="_blank" rel="nofollow noopener noreferrer">https://operatorportal.lido.fi/modules/community-staking-module</a>
					</div>
					<p>Guide in progress.</p>

				</div>
            </section>


			<section class="chapter" id="prerequisites">
				<div class="content" style="width:100%;padding-top:10px">
					<mark>The Guide is under construction. Do not use!!!</mark>
					<h2 data-number="°">Prerequisites for this guide</h2>
					<ol>
						<li>Installed and synced Execution and Consensus client
							<p><a href="/ethereum-staking/full-guide" class="btn btn-black btn-rounded">Install Execution and Consensus Client</a></p>
							<p>On consensus client, configurate <code>builder-boost-factor</code> (or equivalent flags) to 100%, see:</p>
							<div class="tabselector">
								<nav class="egrid egrid-5">
									<button class="tab selected" data-tabpanel="1" onclick="OnValidatorClientChanged('lighthouse')">Lighthouse</button>
									<button class="tab" data-tabpanel="2" onclick="OnValidatorClientChanged('lodestar')">Lodestar</button>
									<button class="tab" data-tabpanel="3" onclick="OnValidatorClientChanged('teku')">Teku</button>
									<button class="tab" data-tabpanel="4" onclick="OnValidatorClientChanged('nimbus')">Nimbus</button>
									<button class="tab" data-tabpanel="5" onclick="OnValidatorClientChanged('prysm')">Prysm</button>
								</nav>
								<div class="tabpanel selected">
									<p>No action needed. <code>builder-boost-factor</code> is set in validator configuration only.</p>
								</div>
								<div class="tabpanel">
									<p>No action needed. <code>builder.selection</code> is set in validator configuration only.</p>
								</div>
								<div class="tabpanel">
									Teku <strong>Consensus Client</strong> (action: set to 100), <a href="https://docs.teku.consensys.io/reference/cli#builder-bid-compare-factor" target="_blank" rel="nofollow noopener noreferrer">Source</a>
									<pre><code>--builder-bid-compare-factor 100</code></pre>
									<p>*A default builder bid comparison factor of 90 means the builder's payload is chosen when its value is at least 10% greater than what can be built locally. That's why factor <code>100</code> must be set.</p>
								</div>
								<div class="tabpanel">
									<p>For Nimbus, which setting has the priority - depends where the validators live (which component owns the private keys). If they're in the VC, then the VC determines it. if in the BN, then the BN does</p>
									<p>Nimbus CL (action: set to 0), <a href="https://nimbus.guide/external-block-builder.html" target="_blank" rel="nofollow noopener noreferrer">Source</a>, <a href="https://nimbus.guide/options.html" target="_blank" rel="nofollow noopener noreferrer">Source 2</a></p>
									<pre><code>--local-block-value-boost 0</code></pre>
									<p>Default value <code>10</code>. Increase execution layer block values for builder bid comparison by a percentage. Default value of <code>10</code> must be rewritten with <code>0</code>.</p>
								</div>
								<div class="tabpanel">
									<p>Prysm CL (action: set to 0), <a href="https://docs.prylabs.network/docs/prysm-usage/parameters#client-stats-flags" target="_blank" rel="nofollow noopener noreferrer">Source</a></p>
									<pre><code>--local-block-value-boost 0</code></pre>
									<p>Use builder block if: <code>builder_bid_value * 100 &gt; local_block_value * (local-block-value-boost + 100)</code>. Default value: <code>10</code> must be overwritten with <code>0</code>.</p>
								</div>
							</div>
							<p>* Validator clients configurations must be added after validator client definition made in the next step.</p>
						</li>
						<li>Installed Mev-boost client with <code>-min-bid</code> set maximally to <code>0.07</code> and set list of LIDO Vetted MEV-Boost Relayes
							<p><a href="/mev-boost" class="btn btn-black btn-rounded">Mev-boost client installation guide</a></p>
							<p><a href="https://enchanted-direction-844.notion.site/6d369eb33f664487800b0dedfe32171e?v=8e5d1f1276b0493caea8a2aa1517ed65" target="_blank" rel="nofollown noopener noreferrer">list of LIDO Vetted MEV-Boost Relayes</a></p>
						</li>
						<li>Generated validator keys with withdrawal wallet set to <code><a href="https://etherscan.io/address/0xb9d7934878b5fb9610b3fe8a5e441e8fad7e293f" target="_blank" rel="nofollow noopener noreferrer">0xB9D7934878B5FB9610B3fE8A5e441e8fad7E293f</a></code>
							<p><a href="/ethereum-staking/keystores" class="btn btn-black btn-rounded">Keys generation guide</a></p>
						</li>
					</ol>
				</div>
            </section>

			<section class="chapter" id="validator">
				<div class="content">
					<mark>The Guide is under construction. Do not use!!!</mark>
					<h2>Validator client configuration for Lido</h2>
					<ul>
						<li>Be sure <code>Builder-boost-factor</code> is set to <code>100%</code></li>
						<li>Be sure <code>fee_recipient</code> is set to <code><a href="https://etherscan.io/address/0x388C818CA8B9251b393131C08a736A67ccB19297" target="_blank" rel="nofollow noopener noreferrer">0x388C818CA8B9251b393131C08a736A67ccB19297</a></code></li>
					</ul>
					<div class="tabselector">
						<nav class="egrid egrid-5">
							<button class="tab selected" data-tabpanel="1" onclick="OnValidatorClientChanged('lighthouse')">Lighthouse</button>
							<button class="tab" data-tabpanel="2" onclick="OnValidatorClientChanged('lodestar')">Lodestar</button>
							<button class="tab" data-tabpanel="3" onclick="OnValidatorClientChanged('teku')">Teku</button>
							<button class="tab" data-tabpanel="4" onclick="OnValidatorClientChanged('nimbus')">Nimbus</button>
							<button class="tab" data-tabpanel="5" onclick="OnValidatorClientChanged('prysm')">Prysm</button>
						</nav>
						<div class="tabpanel selected">
{{> clients/lighthouse_validator AddValidator=true isLido=true}}
<p>Guide to exit validator is available at <a href="https://stakers.space/lighthouse/exit-validator">https://stakers.space/lighthouse/exit-validator</a>.</p>
						</div>
						<div class="tabpanel">
{{> clients/lodestar_validator AddValidator=true isLido=true}}
<p>Guide to exit validator is available at <a href="https://stakers.space/lodestar/exit-validator">https://stakers.space/lodestar/exit-validator</a>.</p>
						</div>
						<div class="tabpanel">
{{> clients/teku_validator AddValidator=true isLido=true}}
<p>Guide to exit validator is available at <a href="https://stakers.space/teku/exit-validator">https://stakers.space/teku/exit-validator</a>.</p>
						</div>
						<div class="tabpanel">
{{> clients/nimbus_validator AddValidator=true isLido=true}}
<p>Guide to exit validator is available at <a href="https://stakers.space/teku/exit-validator">https://stakers.space/nimbus/exit-validator</a>.</p>
						</div>
						<div class="tabpanel">
{{> clients/prysm_validator AddValidator=true isLido=true}}
<p>Guide to exit validator is available at <a href="https://stakers.space/teku/exit-validator">https://stakers.space/prysm/exit-validator</a>.</p>
						</div>
					</div>
				</div>
			</section>

			<section class="chapter" id="fund">
				<div class="content" style="width:100%;padding-top:10px">
					<mark>The Guide is under construction. Do not use!!!</mark>
					<h2>Fund the validators</h2>
					<ul>
						<li>Go to the <a href="https://csm.lido.fi/" target="_blank" rel="nofollow noopener noreferrer">Lido CSM Widget</a> and connect your wallet.</li>
						<li>MAKE SURE THAT YOU ARE ON THE CORRECT NETWORK.</li>
						<li>Select <code>Become a Node Operator</code> and then <code>Create a Node Operator</code></li>
						<li>On the Lido CSM Widget, upload your <code>deposit data file</code> and select the corresponding bond type (ETH, stETH, wstETH), and provide the desired bond amount</li>
					</ul>
					<p>Wait for your CSM validator keys to be deposited by Lido and make sure your node remains online in the meantime!</p>
				</div>
			</section>

			<section class="chapter mt-60" id="maintenance">
				<div class="content bt">
					<h2>Regular maintenance</h2>
					<p>As a regular member securying the network and processing blockchain operations on it, you need to keep your software up to date to avoid penalties and earning rewards for the work.</p>
					<a href="/{{chainUrl}}/maintenance" class="btn btn-black btn-rounded">Guides for regular maintenance</a>
				</div>
			</section>
			<aside>
				<section class="chapter mt-60" id="alternatives">
					<div class="content bt">
						<h3>Alternative LIDO guides</h3>
						<ul>
							<li><a href="https://operatorportal.lido.fi/csm-getting-started" target="_blank" rel="nofollow noopener noreferrer">Official Lido Guide</a></li>
							<li><a href="https://dvt-homestaker.stakesaurus.com/bonded-validators-setup/lido-csm" target="_blank" rel="nofollow noopener noreferrer">DVT Home Staker Lido CSM Guide</a></li>
						</ul>
					</div>
				</section>
			</aside>
			
        </div>
    </div>
</main>
{{> footer}}
{{> scripts/tabselector}}