<pre><code>[Unit]
Description=Lodestar Validator Instance (Ethereum Mainnet)
Wants=network-online.target
After=network-online.target
[Service]
User=<mark class="instance_su" data-client="lodestar">{{servicePrefix}}lodestar-vi<span class="instance_pid" data-client="lodestar">1</span></mark>
Group=<mark class="instance_su" data-client="lodestar">{{servicePrefix}}lodestar-vi<span class="instance_pid" data-client="lodestar">1</span></mark>
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/usr/local/bin/lodestar
Environment="PATH=/home/<mark class="nodejsUser">nodejsusr</mark>/.nvm/versions/node/v<mark class="nodejsVer">{{consensusClients.lodestar.nodejsVer}}</mark>/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/bin/lodestar/lodestar validator \
  --network mainnet \
  --dataDir <mark class="instance_dp" data-client="lodestar">/var/lib{{slashChain}}/lodestar/validators/i<span class="instance_pid" data-client="lodestar">1</span></mark> \
  --suggestedFeeRecipient <mark class="instance_frw" data-client="lodestar">0xXXXXXXXXXXXXXXXX</mark> \
  # ToDo: Add Beacon API URL
  --force \
{{#if isLido}}
  --builder.selection ‘maxprofit’ \
  --graffiti "Lido CSM | <mark class="ec_name">Nethermind</mark>+Lodestar"
{{else}}
  --graffiti "<mark class="ec_name">Nethermind</mark>+Lodestar"
{{/if}}
[Install]
WantedBy=multi-user.target</code></pre>
{{#if isLido}}
<h4 class="mt-0 mb-0">Notes</h4>
<ul class="list-disc mt-4 mb-4">
  <li><strong><code>--<a href="https://chainsafe.github.io/lodestar/run/validator-management/vc-configuration/#configure-your-builder-selection-andor-builder-boost-factor" target="_blank" rel="nofollow noopener noreferrer">builder.selection</a></code> must be set to ‘maxprofit’</strong> for running LIDO CSM validator client.</li>
</ul>
{{/if}}